<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">

    <!-- <div class="au-xs-ta-center au-lg-ta-left">
    <ul class="rk-menu rk-categories-menu">
        <li class="active rk-menu__item"><a href="portfolio.html" class="rk-menu__link">Flex</a>
        </li>
        <li class="rk-menu__item"><a href="portfolio-alt.html" class="rk-menu__link">Switch</a>
        </li>
        <li class="rk-menu__item"><a href="portfolio-raw.html" class="rk-menu__link">Static</a>
        </li>
        <li class="rk-menu__item"><a href="portfolio-masonry.html" class="rk-menu__link">Masonry</a>
        </li>
    </ul>
</div> -->

<div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">

        <a routerLink="/home" class="animated fadeIn rk-item ae-masonry__item">
            <img src="assets/inicio/inicio-1.jpg">
            <div class="item-meta">
                <h2>Pacientes</h2>
                <p>Informacion de los Pacientes</p>
            </div>
        </a>
        <a routerLink="/diaria" class="animated fadeIn rk-item ae-masonry__item">
            <img src="assets/inicio/inicio-2.jpg">
            <div class="item-meta">
                <h2>Consultas</h2>
                <p>Informaacion de las Consultas</p>
            </div>
        </a>
        <a routerLink="/historiaclinica" class="animated fadeIn rk-item ae-masonry__item">
            <img src="assets/inicio/inicio-3.jpg">
            <div class="item-meta">
                <h2>Historia Clinica de los Pacientes</h2>
                <p>Informacion de las historias clinicas de los pacientes</p>
            </div>
        </a>
        <a routerLink="/inventario" class="animated fadeIn rk-item ae-masonry__item">
            <img src="assets/inicio/inicio-4.jpg">
            <div class="item-meta">
                <h2>Inventario</h2>
                <p>Informacion del Inventario</p>
            </div>
        </a>

    </div>
</section>