<div class="au-xs-ta-center au-lg-ta-center">
    <ul class="rk-menu rk-categories-menu">
        <li class="active rk-menu__item"><a routerLink="/especialidad" class="rk-menu__link">Especialidades</a>
        </li>
        <li class="rk-menu__item"><a routerLink="/materiales" class="rk-menu__link">Materiales Odontologicos</a>
        </li>
        <li class="rk-menu__item"><a routerLink="/reportes" class="rk-menu__link">Reportes</a>
        </li>
    </ul>
</div>

<div class="container">

    <div class="center">
        <mat-card-content>
            <mat-card-title>
                <form>
                    <mat-card>
                        <br>
                        <div class="row">
                            <div class="col-2">
                                <br>
                                <form action="">
                                    <div class="form-group row">
                                        <div class="container">
                                            <div class="padre">
                                                <img src="https://img.icons8.com/dusk/50/000000/property-script.png">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-10">
                                <br>
                                <form action="">
                                    <div class="form-group row">
                                        <h4 for="" class="col-10 col-form-label">MATERIALES SEGUN ESPECIALIDAD</h4>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </mat-card>
                </form>
            </mat-card-title>

            <div class="row">
                <div class="col-6">
                    <br>
                    <form action="">
                        <div class="form-group row">
                            <br>
                            <br>
                            <label for="" class="col-6 col-form-label">Tipo de Especialidad:</label>
                            <select class="form-control col-6">
                                <option>Odontologia</option>
                                <option>Ortodoncia</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col">
                    <label for="" class="lolo">Lista Materiales segun Especialidad</label>
                    <mat-form-field class=" col-2 border-bottom text-dark">
                        <div class="row caja2">
                            <img src="https://img.icons8.com/dusk/25/000000/search.png">

                            <div class="row marg">
                                <mat-label class="text-dark"></mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Buscar">
                            </div>
                        </div>

                    </mat-form-field>
                    <!-- <button type="button" class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalBook" (click)="resetForm()">New Book</button>-->
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre </th>
                                <th scope="col">Telefono</th>
                                <th scope="col">Cedula</th>
                                <th scope="col">Ocupacion</th>
                                <th scope="col">Nombre Familiar</th>
                                <th scope="col">Numero Familiar</th>
                                <th scope="col">Tipo de Especialidad</th>
                                <th scope="col">Historia clinica</th>
                                <th scope="col">Editar Paciente</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let patient of patient">
                                <td></td>
                                <td>{{patient.name}}</td>
                                <td>{{patient.phone}}</td>
                                <td>{{patient.dni}}</td>
                                <td>{{patient.occupation}}</td>
                                <td>{{patient.familyName}}</td>
                                <td>{{patient.familyNumberHome}}</td>
                                <td>{{patient.userType}}</td>
                                <td>
                                    <img class="tres" (click)="historia()"
                                        src="https://img.icons8.com/dusk/50/000000/order-history.png">
                                </td>
                                <td>
                                    <img class="tres" (click)="editarpaciente()"
                                        src="https://img.icons8.com/dusk/50/000000/edit-property.png">
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </mat-card-content>
    </div>
</div>