<div class="au-xs-ta-center au-lg-ta-center">
    <ul class="rk-menu rk-categories-menu">
        <li class="active rk-menu__item"><a routerLink="/especialidad" class="rk-menu__link">Especialidades</a>
        </li>
        <li class="rk-menu__item"><a routerLink="/materiales" class="rk-menu__link">Materiales Odontologicos</a>
        </li>
        <li class="rk-menu__item"><a routerLink="/reportes" class="rk-menu__link">Reportes</a>
        </li>
    </ul>
</div>

<div class="container">

    <div class="center">
        <mat-card-content>
            <mat-card-title>
                <form>
                    <mat-card>
                        <br>
                        <div class="row">
                            <div class="col-2">
                                <br>
                                <form action="">
                                    <div class="form-group row">
                                        <div class="container">
                                            <div class="padre">
                                                <img src="https://img.icons8.com/dusk/50/000000/property-script.png">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-10">
                                <br>
                                <form action="">
                                    <div class="form-group row">
                                        <h4 for="" class="col-10 col-form-label">MATERIALES SEGUN ESPECIALIDAD</h4>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </mat-card>
                </form>
            </mat-card-title>

            <div class="row">
                <div class="col-6">
                    <br>
                    <form action="">
                        <div class="form-group row">
                            <br>
                            <br>
                            <label for="" class="col-6 col-form-label">Tipo de Especialidad:</label>
                            <select class="form-control col-6">
                                <option>Odontologia</option>
                                <option>Ortodoncia</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col">
                    <label for="" class="lolo">Lista Materiales segun Especialidad</label>
                    <mat-form-field class="caja">
                        <mat-label>Buscar</mat-label>
                        <input matInput (keyup)="applyFilter($event)">
                    </mat-form-field>
                    <!-- <button type="button" class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalBook" (click)="resetForm()">New Book</button>-->
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre del Material </th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Tipo de Especialidad</th>
                                <th scope="col">Eliminar</th>
                                <th scope="col">Modificar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let material of material">
                                <td></td>
                                <td>{{material.name}}</td>
                                <td>{{material.cantidad}}</td>
                                <td>{{material.date}}</td>
                                <td>{{material.usertype}}</td>
                                <td>
                                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/delete-sign.png">
                                </td>
                                <td>
                                    <img class="tres"  src="https://img.icons8.com/dusk/50/000000/sign-up.png">
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </mat-card-content>
    </div>
</div>