<form align="left">
    <div>
        <span class="claDoc ">{{usuarioA}} </span>

    </div>
    <br>
    <span class="claDocEs ">{{especialidad}} </span>
</form>
<div class="au-xs-ta-center au-lg-ta-center">
    <ul class="rk-menu rk-categories-menu">
        <img src="https://img.icons8.com/ultraviolet/50/000000/tooth.png">
        <li class="active rk-menu__item"><a routerLink="/mantenimiento" class="rk-menu__link">Piezas</a>
        </li>
        <img src="https://img.icons8.com/dusk/50/000000/tooth-cracked.png">
        <li class="rk-menu__item"><a routerLink="/padecimiento" class="rk-menu__link">Padecimientos</a>
        </li>
        <img src="https://img.icons8.com/ultraviolet/50/000000/process.png">
        <li class="rk-menu__item"><a routerLink="/procedimiento" class="rk-menu__link">Procedimientos</a>
        </li>
    </ul>
</div>

<div class="container">

    <div class="center">
        <mat-card-content>
            <mat-card-title>
                <form>
                    <mat-card>
                        <br>
                        <div class="row">
                            <div class="col-2">
                                <br>
                                <form action="">
                                    <div class="form-group row">
                                        <div class="container">
                                            <div class="padre">
                                                <img src="https://img.icons8.com/ios/50/000000/set-of-teeth.png">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-10">
                                <br>
                                <form action="">
                                    <div class="form-group row">
                                        <h4 for="" class="col-10 col-form-label">Procedimientos</h4>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </mat-card>
                </form>
            </mat-card-title>
            <br>
            <form align="left">
                <div>
                    <button mat-raised-button (click)="agregarprocedimientoaPadecimiento()" class="uno"><img
                            src="https://img.icons8.com/ultraviolet/50/000000/process.png"> Agregar Procedimiento a
                        Padecimiento</button>
                </div>
            </form>
            <form align="right">
                <div>
                    <button mat-raised-button (click)="agregarprocedimiento()" class="uno"><img
                            src="https://img.icons8.com/ultraviolet/50/000000/process.png"> Agregar
                        Procedimiento</button>
                </div>
            </form>
            <div class="row mt-5">
                <div class="col">
                    <label for="" class="lolo">Lista de Procedimientos Odontologicos</label>
                    <!-- <button type="button" class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalBook" (click)="resetForm()">New Book</button>-->
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre del Procedimiento</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Estatus</th>
                                <th scope="col">Costo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let procedimiento of procedimiento">
                                <td>{{procedimiento.id}}</td>
                                <td>{{procedimiento.NombreProcedimiento}}</td>
                                <td>{{procedimiento.Descripcion}}</td>
                                <td>{{procedimiento.Estatus}}</td>
                                <td>{{procedimiento.costo}}</td>

                            </tr>

                        </tbody>
                    </table>
                    <br>
                    <label for="" class="lolo">Lista de Procedimientos Odontologicos en Padecimientos</label>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre del Procedimiento</th>
                                <th scope="col">Nombre del Padecimiento</th>
                                <th scope="col">Materiales a usar</th>
                                <th scope="col">Instrumentos a usar</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let procedimientoaPad of procedimientoaPad">
                                <td>{{procedimientoaPad.id}}</td>
                                <td>{{procedimientoaPad.NombreProcedimiento}}</td>
                                <td>{{procedimientoaPad.NombrePadecimiento}}</td>
                                <td>{{procedimientoaPad.materiales}}</td>
                                <td>{{procedimientoaPad.instrumentos}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </mat-card-content>
    </div>
</div>