<div class="container">
    <div class="left">
        <br>
        <img src="assets/img/usuario.png" class="avatar" alt="Avatar Image">
        <mat-card-content>
            <mat-list>
                <mat-card-title>
                    <div class="text-right">
                        <h5 align="center">{{patient.name}}</h5>
                        <h1 align="center">{{patient.age}} años</h1>
                    </div>

                </mat-card-title>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/conference.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="datos()" class="a">Datos Personales</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img clas="tres" src="https://img.icons8.com/dusk/50/000000/resume.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="informacion()" class="g">Historial Clinico</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/lifecycle.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="imagen()" class="b">Evolucion</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/counselor.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="consulta()" class="c">Consultas</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/workflow.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="odontograma()" class="d">Procedimientos</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/details-popup.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="seguimiento()" class="e">Seguimiento</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/hint.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="recipe()" class="h">Recipe</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img src="https://img.icons8.com/cotton/50/000000/treatment-list.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="informe()" class="j">Informe</button>
                        </div>
                    </form>
                </mat-list-item>

                <mat-list-item>
                    <img src="https://img.icons8.com/dusk/50/000000/budget.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="presupuesto()" class="i">Presupuesto</button>
                        </div>
                    </form>
                </mat-list-item>

            </mat-list>
        </mat-card-content>
    </div>

    <div class="center">
        <mat-card-content>
            <mat-card-title>
                <form>
                    <mat-card>
                        <br>
                        <h4><img src="https://img.icons8.com/ios/50/000000/set-of-teeth.png" /> SEGUIMIENTO TODOS LOS DIENTES</h4>
                    </mat-card>
                </form>
            </mat-card-title>
            <br>
            <br>
            <div class="row">


            </div>
            <br>
            <!--   <div class="row">
              <div class="col-6">
                  <form action="">
                      <div class="form-group row">
                          <mat-label for="" class="col-4 col-form-label">Estatus</mat-label>
                          <br>
                          <select class="form-control col-5">
                              <option>Evaluado</option>
                              <option>Iniciado</option>
                              <option>Terminado</option>
                          </select>
                          <div class="col-1">
                              <button class="sinp" type="submit" class="btn btn-success">Ir </button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>-->
            <br>
            <br>
            <img src="assets/img/odontograma.png" alt="Avatar Image">

            <br>
            <br>
            <div class="row">
                <div class="col-6">
                    <p class="titulo">Procedimiento Aplicado: <span class="per">{{seguimientorecibido.ProcedimientoOdontologico}} </span></p>
                    <p class="titulo">Diagnostico Recibido: <span class="per">{{seguimientorecibido.Diagnostico}} </span></p>
                </div>
                <div class="col-1">

                </div>
                <div class="col-4">
                    <p class="titulo">Estatus: <span class="per">{{seguimientorecibido.Estatus}} </span></p>
                    <p class="titulo">Recomendaciones: <span class="per">{{seguimientorecibido.Recomendaciones}} </span></p>
                    <p class="titulo">Observaciones: <span class="per">{{seguimientorecibido.Observaciones}} </span></p>
                </div>
                <div>

                    <br>
                    <br>
                </div>
            </div>
            <br>
            <form #formRegisterseguimiento="ngForm" (ngSubmit)="onRegisterSeguimiento(formRegisterseguimiento)">
                <div class="row">
                    <div class="col-6">

                        <div class="form-group row">
                            <mat-label for="" class="col-6 col-form-label">Fecha </mat-label>
                            <br>
                            <input name="fecha" matInput [matDatepicker]="picker" placeholder="Elije una fecha" class="form-control col-4" [(ngModel)]="fecha">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </div>

                    </div>
                    <div class="col-6">

                        <div class="row">
                            <div class="col-6">

                                <fieldset>
                                    <div class="form-group row">
                                        <label for="" class="col-6 col-form-label">Consultas Posteriores</label>
                                        <input #Consultas="ngModel" name="Consultas" [(ngModel)]='seguimientoRe.ConsultasPosteriores' class="form-control col-3">
                                    </div>
                                    <div class="form-group row">
                                        <mat-label for="" class="col-6 col-form-label">Estatus</mat-label>

                                        <select class="form-control col-5" #Estatus="ngModel" name="Estatus" [(ngModel)]='seguimientoRe.Estatus'>
                                        <option>Evaluado</option>
                                        <option>Iniciado</option>
                                        <option>Terminado</option>
                                    </select>

                                    </div>
                                </fieldset>

                            </div>
                        </div>

                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <label for="" class="col-4 col-form-label">Tratamiento Efectuado</label>
                    <textarea #TratamientoEfectuado="ngModel" name="TratamientoEfectuado" [(ngModel)]='seguimientoRe.TratamientoEfectuado' rows="3" class="form-control col-6"></textarea>
                </div>
                <div class="form-group row">
                    <label for="" class="col-4 col-form-label">Observaciones</label>
                    <textarea #Observaciones="ngModel" name="Observaciones" [(ngModel)]='seguimientoRe.Observaciones' rows="3" class="form-control col-6"></textarea>
                </div>
                <br>
                <button mat-raised-button type="submit" class="btn btn-success">Guardar</button>
                <button mat-raised-button (click)="cancelar()" class="btn btn-danger">Cancelar</button>
            </form>
            <br>
            <br>
            <br>
            <br>
            <div class="row mt-5">
                <div class="col">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">TratamientoEfectuado</th>
                                <th scope="col">Observaciones</th>
                                <th scope="col">ConsultasPosteriores</th>
                                <th scope="col">Estatus</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let seguimientodeOdon of seguimientodeOdontograma">

                                <td>{{seguimientodeOdon.id}}</td>
                                <td>{{seguimientodeOdon.Fecha}}</td>
                                <td>{{seguimientodeOdon.TratamientoEfectuado}}</td>
                                <td>{{seguimientodeOdon.Observaciones}}</td>
                                <td>{{seguimientodeOdon.ConsultasPosteriores}}</td>
                                <td>{{seguimientodeOdon.Estatus}}</td>
                            </tr>

                        </tbody>
                    </table>


                </div>
            </div>
        </mat-card-content>
    </div>
</div>