<div class="container">

    <div class="left">
        <br>
        <img src="assets/img/usuario.png" class="avatar" alt="Avatar Image">
        <mat-card-content>
            <mat-list>
                <mat-card-title>
                    <h5 align="center">Maria RodriguezDB</h5>
                    <h1 align="center">12 años</h1>
                </mat-card-title>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/conference.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="datos()" class="a">Datos Personales</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/lifecycle.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="imagen()" class="b">Evolucion</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/counselor.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="consulta()" class="c">Consultas</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/workflow.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="procedimiento()" class="d">Procedimientos</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/details-popup.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="seguimiento()" class="e">Seguimiento</button>
                        </div>
                    </form>
                </mat-list-item>
                <!-- <mat-list-item>
                   <form>
                        <div>
                            <button mat-stroked-button (click)="odontograma()" class="f">Odontograma</button>
                        </div>
                    </form>
                </mat-list-item> -->
                <mat-list-item>
                    <img clas="tres" src="https://img.icons8.com/dusk/50/000000/resume.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="informacion()" class="g">Historial Clinico</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/hint.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="recipe()" class="h">Recipe</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img src="https://img.icons8.com/cotton/50/000000/treatment-list.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="informe()" class="j">Informe</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img src="https://img.icons8.com/dusk/50/000000/budget.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="presupuesto()" class="i">Presupuesto</button>
                        </div>
                    </form>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </div>


    <div class="center">
        <mat-card-content>
            <mat-card-title>
                <form>
                    <mat-card>
                        <br>
                        <h4><img src="https://img.icons8.com/color/50/000000/false-teeth.png"> ODONTOGRAMA </h4>
                    </mat-card>
                </form>
            </mat-card-title>
            <br>
            <div class="alert alert-secondary" role="alert">
                SE DEBE SELECCIONAR EL AREA AFECTADA
            </div>
            <br>

            <div class="row">
                <div class="col-6">
                    <form #getype="ngForm" (ngSubmit)="getType(getype)">
                        <div class="form-group row">
                            <mat-label for="" class="col-4 col-form-label">Area Afectada</mat-label>
                            <br>
                            <select class="form-control col-5" #momento="ngModel" name="momento" id="momento"
                                [(ngModel)]="momentoC">
                                <option selected>Diente por Diente</option>
                                <option>Todos los Dientes</option>
                                <option>Ortodoncia</option>
                            </select>
                            <div class="col-1">
                                <button class="sinp" type="submit" class="btn btn-success">Ir </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <br>

            <div class="row">
                <div class="col-6">
                    <form action="">
                        <div class="form-group row">
                            <mat-label for="" class="col-4 col-form-label">Estatus</mat-label>
                            <br>
                            <select class="form-control col-4">
                                <option>Evaluado</option>
                                <option>Iniciado</option>
                                <option>Terminado</option>
                            </select>
                            <div class="col-1">
                                <button class="sinp" type="submit" class="btn btn-success">Ir </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="form-group row col-12 d-block">
                    <div>
                        <div class="mar">
                            <img class="mar" (click)="padecimiento()" height="50" width="50"
                                src="assets/dientesanos/Diente1.png">
                            <img class="mar" height="60" width="60" src="assets/dientesanos/Diente2.png">
                            <img class="mar" height="70" width="70" src="assets/dientesanos/Diente3.png">
                            <img class="mar" height="30" width="30" src="assets/dientesanos/Diente4.png">
                            <img class="mar" height="30" width="30" src="assets/dientesanos/Diente5.png">
                            <img class="mar" height="30" width="30" src="assets/dientesanos/Diente6.png">
                            <img class="mar" height="30" width="30" src="assets/dientesanos/Diente7.png">
                            <img class="mar" height="30" width="30" src="assets/dientesanos/Diente8.png">
                            <img class="mar" height="30" width="30" src="assets/dientesanos/Diente9.png">
                            <img class="mar" height="30" width="30" src="assets/dientesanos/Diente10.png">
                            <img class="mar" height="30" width="30" src="assets/dientesanos/Diente11.png">
                            <img class="mar" height="30" width="30" src="assets/dientesanos/Diente12.png">
                            <img class="mar" height="30" width="30" src="assets/dientesanos/Diente13.png">
                            <img class="mar" height="70" width="70" src="assets/dientesanos/Diente14.png">
                            <img class="mar" height="60" width="60" src="assets/dientesanos/Diente15.png">
                            <img class="mar" height="50" width="50" src="assets/dientesanos/Diente16.png">
                        </div>
                        <div>
                            <img class="mar" height="50" width="50" src="assets/dientesanos/Diente17.png">
                            <img class="mar" height="60" width="60" src="assets/dientesanos/Diente18.png">
                            <img class="mar" height="70" width="70" src="assets/dientesanos/Diente19.png">
                            <img class="mar" height="30" width="30" src="assets/dientesanos/Diente20.png">
                            <img class="mar" height="30" width="30" src="assets/dientesanos/Diente21.png">
                            <img class="mar" height="30" width="30" src="assets/dientesanos/Diente22.png">
                            <img class="mar" height="30" width="30" src="assets/dientesanos/Diente23.png">
                            <img class="mar" height="30" width="30" src="assets/dientesanos/Diente24.png">
                            <img class="mar" height="30" width="30" src="assets/dientesanos/Diente25.png">
                            <img class="mar" height="30" width="30" src="assets/dientesanos/Diente26.png">
                            <img class="mar" height="30" width="30" src="assets/dientesanos/Diente27.png">
                            <img class="mar" height="30" width="30" src="assets/dientesanos/Diente28.png">
                            <img class="mar" height="30" width="30" src="assets/dientesanos/Diente29.png">
                            <img class="mar" height="70" width="70" src="assets/dientesanos/Diente30.png">
                            <img class="mar" height="60" width="60" src="assets/dientesanos/Diente31.png">
                            <img class="mar" height="50" width="50" src="assets/dientesanos/Diente32.png">
                        </div>
                    </div>

                </div>
            </div>
            <br>
            <br>
        </mat-card-content>
    </div>
</div>