<div class="container">

    <div class="left">
        <br>
        <img src="assets/img/usuario.png" class="avatar" alt="Avatar Image">
        <mat-card-content>
            <mat-list>
                <mat-card-title>
                    <h5 align="center">Maria RodriguezDB</h5>
                    <h1 align="center">12 años</h1>
                </mat-card-title>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/conference.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="datos()" class="a">Datos Personales</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/lifecycle.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="imagen()" class="b">Evolucion</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/counselor.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="consulta()" class="c">Consultas</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/workflow.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="procedimiento()" class="d">Procedimientos</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/details-popup.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="seguimiento()" class="e">Seguimiento</button>
                        </div>
                    </form>
                </mat-list-item>
                <!-- <mat-list-item>
                   <form>
                        <div>
                            <button mat-stroked-button (click)="odontograma()" class="f">Odontograma</button>
                        </div>
                    </form>
                </mat-list-item> -->
                <mat-list-item>
                    <img clas="tres" src="https://img.icons8.com/dusk/50/000000/resume.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="informacion()" class="g">Historial Clinico</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/hint.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="recipe()" class="h">Recipe</button>
                        </div>
                    </form>
                </mat-list-item>

            </mat-list>
        </mat-card-content>
    </div>


    <div class="center">
        <mat-card-content>
            <mat-card-title>
                <form>
                    <mat-card>
                        <br>
                        <h4><img src="https://img.icons8.com/color/50/000000/false-teeth.png">   ODONTOGRAMA </h4>
                    </mat-card>
                </form>
            </mat-card-title>
            <br>
            <div class="alert alert-secondary" role="alert">
                SE DEBE SELECCIONAR EL AREA AFECTADA
            </div>
            <br>

            <div class="row">
                <div class="col-6">
                    <br>
                    <div class="form-group row">
                        <mat-label for="" class="col-4 col-form-label">Area Afectada</mat-label>
                        <br>
                        <select class="form-control col-8">
                            <option>Diente x Diente</option>
                            <option>Todos los Dientes</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="alert alert-danger" role="alert">
                PARA LUEGO PROCEDER A ESCOGER EL DIENTE A REPARAR

            </div>
            <br>
            <button (click)="padecimiento()" color="warn"><img src="assets/img/odontograma.png"
                    alt="Avatar Image"></button>
            <br>
            <br>
            <br>
        </mat-card-content>
    </div>
</div>