.container {
    text-align: center;
}

.left {
    float: left;
    background-color: lightgray;
}

.center {
    display: inline-block;
    width: 79%;
    border-style: solid;
    border-width: 2px;
    border-color: #d3d3d3;
}

.container .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: center;
    left: calc(80% - 50px);
}

.a {
    text-decoration: none;
    font-size: 15px;
    line-height: none;
    color: #fff;
    text-align: center;
    width: 152%;
    left: calc(29% - 40%);
    border-color: transparent;
    background-color: transparent;
}

.a:hover {
    color: darkgrey;
}

.container h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 20px;
    color: #000;
}

.center h4 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 25px;
    color: #000;
}

.tres img {
    margin: 0 12px;
    background-color: transparent;
    outline: transparent;
    border-radius: 5px;
    margin-left: 100px;
}

.b {
    text-decoration: none;
    font-size: 15px;
    line-height: none;
    color: #fff;
    width: 225%;
    left: calc(30% - 40%);
    border-color: transparent;
    background-color: transparent;
}

.b:hover {
    color: darkgrey;
}

.c {
    text-decoration: none;
    font-size: 15px;
    line-height: none;
    color: #fff;
    width: 230%;
    left: calc(23% - 40%);
    border-color: transparent;
    background-color: transparent;
}

.c:hover {
    color: darkgrey;
}

.d {
    text-decoration: none;
    font-size: 15px;
    line-height: none;
    color: #fff;
    width: 120%;
    left: calc(48% - 40%);
    border-color: transparent;
    background-color: transparent;
}

.d:hover {
    color: darkgrey;
}

.e {
    text-decoration: none;
    font-size: 15px;
    line-height: none;
    color: #fff;
    width: 198%;
    left: calc(25% - 40%);
    border-color: transparent;
    background-color: transparent;
}

.e:hover {
    color: darkgrey;
}

.f {
    text-decoration: none;
    font-size: 15px;
    line-height: none;
    color: #fff;
    width: 186%;
    left: calc(26% - 40%);
    border-color: transparent;
    background-color: transparent;
}

.f:hover {
    color: darkgrey;
}

.g {
    text-decoration: none;
    font-size: 15px;
    line-height: none;
    color: #fff;
    width: 142%;
    left: calc(37% - 40%);
    border-color: transparent;
    background-color: transparent;
}

.g:hover {
    color: darkgrey;
}

.h {
    text-decoration: none;
    font-size: 15px;
    line-height: none;
    color: #fff;
    width: 298%;
    left: calc(17% - 40%);
    border-color: transparent;
    background-color: transparent;
}

.h:hover {
    color: darkgrey;
}

.i {
    text-decoration: none;
    font-size: 15px;
    line-height: none;
    color: #fff;
    width: 200%;
    left: calc(25% - 40%);
    border-color: transparent;
    background-color: transparent;
}

.i:hover {
    color: darkgrey;
}

.j {
    text-decoration: none;
    font-size: 15px;
    line-height: none;
    color: #fff;
    width: 280%;
    left: calc(17% - 40%);
    border-color: transparent;
    background-color: transparent;
}

.j:hover {
    color: darkgrey;
}

.mat-form-field {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

img .mar {
    margin-left: 15px;
    padding: 10px;
}

.selector {
    margin-left: 15px;
    text-align: left;
}

.mat-card {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #000;
    background: rgba(207, 205, 205, 0.199);
    width: 100%;
    height: 100%;
}
