<div class="container">

    <div class="left">
        <br>
        <img src="assets/img/usuario.png" class="avatar" alt="Avatar Image">
        <mat-card-content>
            <mat-list>
                <mat-card-title>
                    <h5 align="center">Maria Salazar</h5>
                    <h1 align="center">12 años</h1>
                </mat-card-title>
                <mat-list-item>
                    <form>
                        <div>
                            <button mat-stroked-button (click)="datos()" class="a">Datos Personales</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <form>
                        <div>
                            <button mat-stroked-button (click)="imagen()" class="b">Imagenes y Archivos</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <form>
                        <div>
                            <button mat-stroked-button (click)="consulta()" class="c">Consultas</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <form>
                        <div>
                            <button mat-stroked-button (click)="procedimiento()" class="d">Procedimientos
                                Clinicos</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <form>
                        <div>
                            <button mat-stroked-button (click)="seguimiento()" class="e">Seguimiento</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <form>
                        <div>
                            <button mat-stroked-button (click)="odontograma()" class="f">Odontograma</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <form>
                        <div>
                            <button mat-stroked-button (click)="informacion()" class="g">Informacion Clinica</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <form>
                        <div>
                            <button mat-stroked-button (click)="recipe()" class="h">Recipe</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </mat-card-content>
    </div>

    <div class="center">
        <mat-card-content>
            <mat-card-title>
                <form>
                    <mat-card>
                        <br>
                        <h4> ODONTOGRAMA </h4>
                    </mat-card>
                </form>
            </mat-card-title>
            <br>
            <div class="alert alert-secondary" role="alert">
                SE DEBE SELECCIONAR EL AREA AFECTADA
            </div>
            <br>

            <div class="row">
                <div class="col-6">
                    <br>
                    <form action="">
                        <div class="form-group row">
                            <mat-label for="" class="col-4 col-form-label">Area Afectada</mat-label>
                            <button mat-raised-button (click)="odontograma()" class="cero">Diente x Diente</button>
                        </div>
                        <div class="col-12 col-form-label">
                            <button mat-raised-button (click)="todos()" class="uno">Todos Los Dientes</button>
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <br>
            <div class="alert alert-danger" role="alert">
                PARA LUEGO PROCEDER A ESCOGER EL DIENTE A REPARAR

            </div>
            <br>
            <button (click)="padecimiento()" color="warn"><img src="assets/img/odontograma.png"
                    alt="Avatar Image"></button>
            <br>
            <br>
            <br>
        </mat-card-content>
    </div>
</div>