.container{
    text-align:center;
  }
  
  .left{
    float: left;
    background-color: lightgray;
  }
  
  .center{
    display:inline-block;
    width: 79%;
    border-style:solid;
    border-width:2px;  
    border-color: #d3d3d3;
  }
  
  .container .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: center;
    left: calc(80% - 50px);
    }
  
  .a {
    text-decoration: none;
    font-size: 15px;
    line-height: none;
    color: #fff;
    text-align: center;
   width: 152%;
   left: calc(29% - 40%);
   border-color: transparent;
   background-color: transparent;
  }
  
  .a:hover {
    color: darkgrey;
  }
  
  .b {
    text-decoration: none;
    font-size: 15px;
    line-height: none;
    color: #fff;
    width: 225%;
    left: calc(30% - 40%);
  }
  
  .b:hover {
    color: darkgrey;
  }
  
  .c {
    text-decoration: none;
    font-size: 15px;
    line-height: none;
    color: #fff;
    width: 230%;
    left: calc(23% - 40%);
  }
  
  .c:hover {
    color: darkgrey;
  }
  
  .d {
    text-decoration: none;
    font-size: 15px;
    line-height: none;
    color: #fff;
    width: 118%;
    left: calc(31% - 40%);
  }
  
  .d:hover {
    color: darkgrey;
  }
  
  .e {
    text-decoration: none;
    font-size: 15px;
    line-height: none;
    color: #fff;
    width: 198%;
    left: calc(25% - 40%);
  }
  
  .e:hover {
    color: darkgrey;
  }
  
  .f {
    text-decoration: none;
    font-size: 15px;
    line-height: none;
    color: #fff;
    width: 186%;
    left: calc(26% - 40%);
  }
  
  .f:hover {
    color: darkgrey;
  }
  
  .g {
    text-decoration: none;
    font-size: 15px;
    line-height: none;
    color: #fff;
    width: 142%;
    left: calc(29% - 40%);
  }
  
  .g:hover {
    color: darkgrey;
  }
  
  .h {
    text-decoration: none;
    font-size: 15px;
    line-height: none;
    color: #fff;
    width: 298%;
    left: calc(17% - 40%);
  }
  
  .h:hover {
    color: darkgrey;
  }
  
  
  .selector {
    margin-left: 16px;
    text-align: left;
  
  }
  
  
  .mat-card {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #000;
    background: rgba(207, 205, 205, 0.199);
    width: 100%;
    height: 100%;
  }

  .mat-raised-button {
    margin: 0 12px;
    color: snow;
    background-color: silver;
    font-size: 12Px;
  }
