<div class="container">
    <div class="left">
        <br>
        <img src="assets/img/usuario.png" class="avatar" alt="Avatar Image">
        <mat-card-content>
            <mat-list>
                <mat-card-title>
                    <h5 align="center">{{patient.name}}</h5>
                    <h1 align="center">{{patient.age}} años</h1>
                </mat-card-title>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/conference.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="datos()" class="a">Datos Personales</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/lifecycle.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="imagen()" class="b">Evolucion</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/counselor.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="consultac()" class="c">Consultas</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/workflow.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="procedimiento()" class="d">Procedimientos</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/details-popup.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="seguimiento()" class="e">Seguimiento</button>
                        </div>
                    </form>
                </mat-list-item>
                <!-- <mat-list-item>
                   <form>
                        <div>
                            <button mat-stroked-button (click)="odontograma()" class="f">Odontograma</button>
                        </div>
                    </form>
                </mat-list-item> -->
                <mat-list-item>
                    <img clas="tres" src="https://img.icons8.com/dusk/50/000000/resume.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="informacion()" class="g">Historial Clinico</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/hint.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="recipe()" class="h">Recipe</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img src="https://img.icons8.com/dusk/50/000000/budget.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="presupuesto()" class="i">Presupuesto</button>
                        </div>
                    </form>
                </mat-list-item>

            </mat-list>
        </mat-card-content>
    </div>
    <div class="center">
        <mat-card-content>
            <mat-card-title>
                <form>
                    <mat-card>
                        <br>
                        <h4> <img src="https://img.icons8.com/dusk/50/000000/overtime.png"> CONSULTA DEL PACIENTE </h4>
                    </mat-card>
                </form>
            </mat-card-title>

            <form align="right">
                <div>
                    <br>
                    <button mat-raised-button (click)="global()" class="uno"><img src="https://img.icons8.com/dusk/50/000000/calendar-plus.png">   Agregar Consultas</button>
                </div>
            </form>
            <br>

            <div class="row mt-5">
                <div class="col">
                    <mat-form-field class=" col-2 border-bottom text-dark">
                        <div class="row caja2">
                            <img src="https://img.icons8.com/dusk/25/000000/search.png">

                            <div class="row marg">
                                <mat-label class="text-dark"></mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Buscar">
                            </div>
                        </div>

                    </mat-form-field>
                    <!-- <button type="button" class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalBook" (click)="resetForm()">New Book</button>-->
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre Paciente </th>
                                <th scope="col">Cedula</th>
                                <th scope="col">Fecha de Consulta</th>
                                <th scope="col">Dia</th>
                                <th scope="col">Hora</th>
                                <th scope="col">Motivo</th>
                                <th scope="col">Consultorio a Visitar</th>
                                <th scope="col">Status</th>
                                <th scope="col">Suspender</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let consulta of consulta">
                                <td></td>
                                <td>{{consulta.namePatient}}</td>
                                <td>{{consulta.dniPatient}}</td>
                                <td>{{consulta.fechaPlanificada}}</td>
                                <td>{{consulta.dia}}</td>
                                <td>{{consulta.hora}}</td>
                                <td>{{consulta.motive}}</td>
                                <td>{{consulta.consultorioVisitar}}</td>
                                <td><button type="button" class="btn btn-success" (click)="cambiarstatus(consulta)">
                                  <span>{{consulta.status}}</span>
                              </button></td>
                                <td><button type="button" class="btn btn-danger" (click)="suspenderstatus(consulta)">
                                <span>X</span>
                            </button></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </mat-card-content>

    </div>
</div>
