<div class="container">

    <div class="left">
        <br>
        <img src="assets/img/usuario.png" class="avatar" alt="Avatar Image">
        <mat-card-content>
            <mat-list>
                <mat-card-title>
                    <div class="text-right">
                        <h5 align="center">{{patient.name}}</h5>
                        <h1 align="center">{{patient.age}} años</h1>
                    </div>

                </mat-card-title>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/conference.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="datos()" class="a">Datos Personales</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img clas="tres" src="https://img.icons8.com/dusk/50/000000/resume.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="informacion()" class="g">Historial Clinico</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/lifecycle.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="imagen()" class="b">Evolucion</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/counselor.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="consulta()" class="c">Consultas</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/workflow.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="verservicios()" class="d">Procedimientos</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/details-popup.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="seguimiento()" class="e">Seguimiento</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/hint.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="recipe()" class="h">Recipe</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img src="https://img.icons8.com/cotton/50/000000/treatment-list.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="informe()" class="j">Informe</button>
                        </div>
                    </form>
                </mat-list-item>

                <mat-list-item>
                    <img src="https://img.icons8.com/dusk/50/000000/budget.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="presupuesto()" class="i">Presupuesto</button>
                        </div>
                    </form>
                </mat-list-item>

            </mat-list>
        </mat-card-content>
    </div>

    <div class="center">
        <mat-card-content>
            <mat-card-title>
                <form>
                    <mat-card>
                        <br>
                        <h4><img src="https://img.icons8.com/office/50/000000/treatment-plan.png"> INFORME ODONTOLOGICO
                        </h4>
                    </mat-card>
                </form>
            </mat-card-title>


            <br>
            <br>
            <form #formRegisterInforme="ngForm" (ngSubmit)="onRegisterInforme(formRegisterInforme)">
                <div class="row">
                    <div class="col-6">

                        <div class="form-group row">
                            <label for="" class="col-5 col-form-label">Certifico que el dia</label>
                            <input name="fecha" matInput [matDatepicker]="picker" placeholder="Elije una fecha" class="form-control col-4" [(ngModel)]="startDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </div>

                    </div>
                    <div class="col-6">

                        <fieldset disabled>
                            <div class="form-group row">
                                <label for="" class="col-4 col-form-label">Atendi a</label>
                                <input #Atendia="ngModel" name="Atendia" [(ngModel)]="informeRe.AtendiA" class="form-control col-5">
                            </div>
                        </fieldset>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12">

                        <br>
                        <div class="form-group row">
                            <label for="" class="col-4 col-form-label">Por Presentar</label>
                            <textarea #PorPresentar="ngModel" name="PorPresentar" [(ngModel)]="informeRe.PorPresentar" rows="3" class="form-control col-6"></textarea>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-4 col-form-label">Diagnostico Definitivo</label>
                            <textarea #DiagnosticoDefinitivo="ngModel" name="DiagnosticoDefinitivo" [(ngModel)]="informeRe.DiagnosticoDefinitivo" rows="3" class="form-control col-6"></textarea>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-4 col-form-label"></label>
                            <textarea disabled #Firma="ngModel" name="Firma" [(ngModel)]="informeRe.Firma" rows="3" class="form-control col-4"></textarea>
                        </div>
                        <label for="" class="col-4 col-form-label">Sello</label>

                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-success">GUARDAR</button>
            </form>
        </mat-card-content>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Diagnostico </th>
                    <th scope="col">Presenta</th>
                    <th scope="col">Dia</th>
                    <th scope="col">Imprimir</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let informeRecibido of informeRecibido">
                    <td></td>
                    <td>{{informeRecibido.DiagnosticoDefinitivo}}</td>
                    <td>{{informeRecibido.PorPresentar}}</td>
                    <td>{{informeRecibido.Certificoqueeldia}}</td>
                    <td>
                        <button type="button" (click)="imprimirPdfMateriales()" class="btn btn-primary">Imprimir</button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
