<div align='center'>
    <mat-accordion multi="true">
        <form>
            <mat-card>
                <h4> DATOS PERSONALES </h4>
            </mat-card>
        </form>
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-description>
                    <h6> Primera parte </h6>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="row">
                <div class="col-12">
                    <form action="">
                        <br>
                        <div class="form-group row">
                            <label for="" class="col-4 col-form-label" >Nombre Completo</label>
                            <input placeholder="" class="form-control col-8" required>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-4 col-form-label">Edad</label>
                            <input placeholder="" class="form-control col-8" required>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-4 col-form-label">Estado Civil: </label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="opciones" id="opciones_1" value="opcion_1" checked required>
                                    Soltero
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="opciones" id="opciones_2" value="opcion_2"
                                        class="selector" checked required>
                                    Casado
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="opciones" id="opciones_3" value="opcion_3"
                                        class="selector" checked required>
                                    Viudo
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="opciones" id="opciones_4" value="opcion_4"
                                        class="selector" checked required>
                                    Divorciado
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-4 col-form-label">Direccion Trabajo</label>
                            <input placeholder="" class="form-control col-8" required>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-4 col-form-label">Direccion Habitacion</label>
                            <input placeholder="" class="form-control col-8" required>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-4 col-form-label">Lugar de Nacimiento</label>
                            <input placeholder="" class="form-control col-8" required>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-4 col-form-label">Ocupacion</label>
                            <input placeholder="" class="form-control col-8" required>
                        </div>
                    </form>
                </div>
            </div>

            <mat-action-row>
                <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-description>
                    <h6> Segunda parte </h6>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="row">
                <div class="col-12">
                    <form action="">
                        <br>
                        <div class="form-group row">
                            <label for="" class="col-4 col-form-label">Celular</label>
                            <input placeholder="" class="form-control col-8">
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-4 col-form-label">Telefono de Casa</label>
                            <input placeholder="" class="form-control col-8">
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-4 col-form-label">Remitido por</label>
                            <input placeholder="" class="form-control col-8">
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-4 col-form-label">Color Dental</label>
                            <input placeholder="" class="form-control col-8">
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-4 col-form-label">En caso de Emergencia llamar a</label>
                            <input placeholder="" class="form-control col-8">
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-4 col-form-label">Celular</label>
                            <input placeholder="" class="form-control col-8">
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-4 col-form-label">Telefono de Casa</label>
                            <input placeholder="" class="form-control col-8">
                        </div>
                    </form>
                </div>
            </div>

            <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Anterior</button>
                <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-description>
                    <h6> Tercera parte </h6>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="row">
                <div class="col-12">
                    <form action="">
                        <br>
                        <div class="form-group row">
                            <label for="" class="col-4 col-form-label">Usuario</label>
                            <input placeholder="" class="form-control col-8">
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-4 col-form-label">Contraseña</label>
                            <input placeholder="" class="form-control col-8">
                        </div>
                        <div class="form-group row">
                            <mat-label for="" class="col-4 col-form-label">Consultorio</mat-label>
                            <br>
                            <select class="form-control col-8">
                                <option>Odontologia</option>
                                <option>Ortodoncia</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>

            <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Anterior</button>
            </mat-action-row>
        </mat-expansion-panel>

        <br>
        <button mat-raised-button (click)="historia()" class="uno">GUARDAR PACIENTE</button>
        <button mat-raised-button (click)="cancelar()" class="dos">CANCELAR</button>

    </mat-accordion>
</div>