<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<!--Table-->

<div class="container">
    <div class="left">
        <br>
        <img src="assets/img/usuario.png" class="avatar" alt="Avatar Image">
        <mat-card-content>
            <mat-list>
                <mat-card-title>
                    <h5 align="center">Maria Salazar</h5>
                    <h1 align="center">12 años</h1>
                </mat-card-title>
                <mat-list-item>
                    <form>
                        <div>
                            <button mat-stroked-button (click)="datos()" class="a">Datos Personales</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <form>
                        <div>
                            <button mat-stroked-button (click)="imagen()" class="b">Imagenes y Archivos</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <form>
                        <div>
                            <button mat-stroked-button (click)="consulta()" class="c">Consultas</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <form>
                        <div>
                            <button mat-stroked-button (click)="procedimiento()" class="d">Procedimientos
                                Clinicos</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <form>
                        <div>
                            <button mat-stroked-button (click)="seguimiento()" class="e">Seguimiento</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <form>
                        <div>
                            <button mat-stroked-button (click)="odontograma()" class="f">Odontograma</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <form>
                        <div>
                            <button mat-stroked-button (click)="informacion()" class="g">Informacion Clinica</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <form>
                        <div>
                            <button mat-stroked-button (click)="recipe()" class="h">Recipe</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </mat-card-content>
    </div>

    <div class="center">
        <mat-card-content>
            <mat-card-title>
                <form>
                    <mat-card>
                        <br>
                        <h4> PROCEDIMIENTO CLINICO </h4>
                    </mat-card>
                </form>
            </mat-card-title>

            <form align="right">
                <div>
                    <button  mat-raised-button (click)="pacientes()" class="raya">Agregar Procedimiento</button>
                </div>
            </form>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 id="exampleModalLongTitle" class="text-center">AGREGAR
                                PROCEDIMIENTO</h5>
                        </div>
                        <div class="modal-body">
                            <div class="form-group row">
                                <label for="" class="col-4 col-form-label">Nombre del Procedimiento</label>
                                <input placeholder="" class="form-control col-6">
                            </div>
                            <div class="form-group row">
                                <mat-label for="" class="col-4 col-form-label">Padecimiento</mat-label>
                                <br>
                                <select class="form-control col-6">
                                    <option>Seleccionar</option>
                                    <option>Parte Superior</option>
                                    <option>Parte Inferior</option>
                                    <option>Lado Derecho</option>
                                    <option>Lado Izquierdo</option>
                                    <option>Diente por Diente</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <mat-label for="" class="col-4 col-form-label">Instrumentos</mat-label>
                                <br>
                                <select class="form-control col-6">
                                    <option>Seleccionar</option>
                                    <option>Parte Superior</option>
                                    <option>Parte Inferior</option>
                                    <option>Lado Derecho</option>
                                    <option>Lado Izquierdo</option>
                                    <option>Diente por Diente</option>
                                </select>
                            </div>

                            <label for="" class="col-6 col-form-label"></label>
                            <input type="file" name="archivo">

                        </div>
                        <div class="modal-footer">
                            <button mat-raised-button type="button" class="uno" (click)="historia()">AGREGAR</button>
                            <button mat-raised-button type="button" class="dos" (click)="cancelar()">CANCELAR</button>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-hover table-fixed">

                <!--Table head-->

                <thead>
                    <tr>
                        <th>FECHA</th>
                        <th>STATUS</th>
                    </tr>
                </thead>

                <!--Table head-->

                <!--Table body-->
                <tbody>
                    <tr>
                        <th scope="row">20/12/2010</th>
                        <th scope="row">Atentido</th>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Edit"><button
                                    class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal"
                                    data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button>
                            </p>
                        </td>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Delete"><button
                                    class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal"
                                    data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button>
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">20/12/2010</th>
                        <th scope="row">Atentido</th>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Edit"><button
                                    class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal"
                                    data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button>
                            </p>
                        </td>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Delete"><button
                                    class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal"
                                    data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button>
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">20/12/2010</th>
                        <th scope="row">Atentido</th>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Edit"><button
                                    class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal"
                                    data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button>
                            </p>
                        </td>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Delete"><button
                                    class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal"
                                    data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button>
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">20/12/2010</th>
                        <th scope="row">Atentido</th>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Edit"><button
                                    class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal"
                                    data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button>
                            </p>
                        </td>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Delete"><button
                                    class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal"
                                    data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button>
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">20/12/2010</th>
                        <th scope="row">Atentido</th>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Edit"><button
                                    class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal"
                                    data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button>
                            </p>
                        </td>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Delete"><button
                                    class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal"
                                    data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button>
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">20/12/2010</th>
                        <th scope="row">Atentido</th>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Edit"><button
                                    class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal"
                                    data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button>
                            </p>
                        </td>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Delete"><button
                                    class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal"
                                    data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button>
                            </p>
                        </td>
                    </tr>

                </tbody>
                <!--Table body-->
            </table>

            <!--Table-->

        </mat-card-content>
    </div>
</div>