<div class="container">
    <div class="left">
        <br>
        <img src="assets/img/usuario.png" class="avatar" alt="Avatar Image">
        <mat-card-content>
            <mat-list>
                <mat-card-title>
                    <h5 align="center">Maria RodriguezDB</h5>
                    <h1 align="center">12 años</h1>
                </mat-card-title>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/conference.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="datos()" class="a">Datos Personales</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/lifecycle.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="imagen()" class="b">Evolucion</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/counselor.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="consulta()" class="c">Consultas</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/workflow.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="procedimiento()" class="d">Procedimientos</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/details-popup.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="seguimiento()" class="e">Seguimiento</button>
                        </div>
                    </form>
                </mat-list-item>
                <!-- <mat-list-item>
                   <form>
                        <div>
                            <button mat-stroked-button (click)="odontograma()" class="f">Odontograma</button>
                        </div>
                    </form>
                </mat-list-item> -->
                <mat-list-item>
                    <img clas="tres" src="https://img.icons8.com/dusk/50/000000/resume.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="informacion()" class="g">Historial Clinico</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/hint.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="recipe()" class="h">Recipe</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img src="https://img.icons8.com/cotton/50/000000/treatment-list.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="informe()" class="j">Informe</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img src="https://img.icons8.com/dusk/50/000000/budget.png">
                   <form>
                        <div>
                            <button mat-stroked-button (click)="presupuesto()" class="i">Presupuesto</button>
                        </div>
                    </form>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </div>

    <div class="center">
        <mat-card-content>
            <mat-card-title>
                <form>
                    <mat-card>
                        <br>
                        <h4><img src="https://img.icons8.com/dusk/50/000000/tooth.png"> PROCEDIMIENTO ODONTOLOGICO </h4>
                    </mat-card>
                </form>
            </mat-card-title>


            <div class="row">

                <br>
                <form action="">
                    <div class="form-group row">
                        <mat-label for="" class="col-2 col-form-label"></mat-label>
                        <button mat-raised-button (click)="odontograma()" class="col-7 uno"><img src="https://img.icons8.com/officel/50/000000/false-teeth.png">     Crear Odontograma</button>
                    </div>
                </form>
            </div>


            <br>
            <br>
            <div class="form-group row">
                <mat-label for="" class="col-4 col-form-label">Status del Procedimiento</mat-label>
                <br>
                <select class="form-control col-6">
                    <option>Activo</option>
                    <option>Programado</option>
                    <option>Cerrado</option>
                </select>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 id="exampleModalLongTitle" class="text-center">AGREGAR PROCEDIMIENTO
                            </h5>
                        </div>
                        <div class="modal-body">
                            <div class="form-group row">
                                <label for="" class="col-4 col-form-label">Nombre del Procedimiento</label>
                                <input placeholder="" class="form-control col-6">
                            </div>
                            <div class="form-group row">
                                <mat-label for="" class="col-4 col-form-label">Padecimiento</mat-label>
                                <br>
                                <select class="form-control col-6">
                                    <option>Seleccionar</option>
                                    <option>Parte Superior</option>
                                    <option>Parte Inferior</option>
                                    <option>Lado Derecho</option>
                                    <option>Lado Izquierdo</option>
                                    <option>Diente por Diente</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <mat-label for="" class="col-4 col-form-label">Instrumentos</mat-label>
                                <br>
                                <select class="form-control col-6">
                                    <option>Seleccionar</option>
                                    <option>Parte Superior</option>
                                    <option>Parte Inferior</option>
                                    <option>Lado Derecho</option>
                                    <option>Lado Izquierdo</option>
                                    <option>Diente por Diente</option>
                                </select>
                            </div>

                            <label for="" class="col-6 col-form-label"></label>
                            <input type="file" name="archivo">

                        </div>
                        <div class="modal-footer">
                            <button mat-raised-button type="button" class="uno" (click)="historia()">AGREGAR</button>
                            <button mat-raised-button type="button" class="dos" (click)="cancelar()">CANCELAR</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row mt-5">
                <div class="col">
                    <mat-form-field class=" col-2 border-bottom text-dark">
                        <div class="row caja2">
                            <img src="https://img.icons8.com/dusk/25/000000/search.png">

                            <div class="row marg">
                                <mat-label class="text-dark"></mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Buscar">
                            </div>
                        </div>

                    </mat-form-field>
                    <!-- <button type="button" class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalBook" (click)="resetForm()">New Book</button>-->
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre </th>
                                <th scope="col">Telefono</th>
                                <th scope="col">Cedula</th>
                                <th scope="col">Ocupacion</th>
                                <th scope="col">Nombre Familiar</th>
                                <th scope="col">Numero Familiar</th>
                                <th scope="col">Tipo de Especialidad</th>
                                <th scope="col">Historia clinica</th>
                                <th scope="col">Editar Paciente</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let patient of patient">
                                <td></td>
                                <td>{{patient.name}}</td>
                                <td>{{patient.phone}}</td>
                                <td>{{patient.dni}}</td>
                                <td>{{patient.occupation}}</td>
                                <td>{{patient.familyName}}</td>
                                <td>{{patient.familyNumberHome}}</td>
                                <td>{{patient.userType}}</td>
                                <td>
                                    <img class="tres" (click)="historia()" src="https://img.icons8.com/dusk/50/000000/order-history.png">
                                </td>
                                <td>
                                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/edit-property.png">
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </mat-card-content>
    </div>
</div>
