<header class="ae-container-fluid ae-container-fluid--full rk-header ">
    <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
    <label for="mobile-menu">
        <svg>
            <use xlink:href="assets/img/symbols.svg#bar"></use>
        </svg>
        <svg>
            <use xlink:href="assets/img/symbols.svg#bar"></use>
        </svg>
        <svg>
            <use xlink:href="assets/img/symbols.svg#bar"></use>
        </svg>
    </label>
    <div class="ae-container-fluid rk-topbar">
        <h1 class="rk-logo">
            <a>{{ _servicio.info.titulo }}</a>
        </h1>
        <nav class="rk-navigation">
            <ul class="rk-menu">
                <li routerLinkActive="active" class="rk-menu__item">
                    <a routerLink="pantallahome" class="rk-menu__link">Inicio</a>
                </li>
                <li routerLinkActive="active" class="rk-menu__item">
                    <a routerLink="pacientes" class="rk-menu__link">Pacientes</a>
                </li>

                <li routerLinkActive="active" class="rk-menu__item">
                    <a routerLink="diaria" class="rk-menu__link">Consultas</a>
                </li>

                <li routerLinkActive="active" class="rk-menu__item">
                    <a routerLink="materiales" class="rk-menu__link">Inventario</a>
                </li>
                <li routerLinkActive="active" class="rk-menu__item">
                    <a routerLink="mantenimiento" class="rk-menu__link">Odontograma</a>
                </li>
              
                <li class="rk-menu__item"><a href="#0" class="rk-menu__link">Configuracion</a>
                    <nav class="rk-menu__sub">
                        <ul class="rk-container">
                            <li class="rk-menu__item"><a routerLink="editarperfil" class="rk-menu__link">Editar Perfil</a>
                            </li>
                            <li class="rk-menu__item"><a class="rk-menu__link">Tutorial</a></li>
                            <li class="rk-menu__item"><a routerLink="" class="rk-menu__link" (click)=logoutUser()>Cerrar Sesion</a></li>
                        </ul>
                    </nav>
                </li>
            </ul>



        </nav>
    </div>
</header>