<div class="container">

    <div class="left">
        <br>
        <img src="assets/img/usuario.png" class="avatar" alt="Avatar Image">
        <mat-card-content>
            <mat-list>
                <mat-card-title>
                    <h5 align="center">Maria RodriguezDB</h5>
                    <h1 align="center">12 años</h1>
                </mat-card-title>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/conference.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="datos()" class="a">Datos Personales</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/lifecycle.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="imagen()" class="b">Evolucion</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/counselor.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="consulta()" class="c">Consultas</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/workflow.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="procedimiento()" class="d">Procedimientos</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/details-popup.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="seguimiento()" class="e">Seguimiento</button>
                        </div>
                    </form>
                </mat-list-item>
                <!-- <mat-list-item>
                   <form>
                        <div>
                            <button mat-stroked-button (click)="odontograma()" class="f">Odontograma</button>
                        </div>
                    </form>
                </mat-list-item> -->
                <mat-list-item>
                    <img clas="tres" src="https://img.icons8.com/dusk/50/000000/resume.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="informacion()" class="g">Historial Clinico</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/hint.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="recipe()" class="h">Recipe</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img src="https://img.icons8.com/cotton/50/000000/treatment-list.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="informe()" class="j">Informe</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img src="https://img.icons8.com/dusk/50/000000/budget.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="presupuesto()" class="i">Presupuesto</button>
                        </div>
                    </form>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </div>
    <div class="center">
        <mat-card-content>
            <mat-card-title>
                <form>
                    <mat-card>
                        <br>
                        <h4><img src="https://img.icons8.com/dusk/50/000000/dental-machine.png"> PADECIMIENTOS </h4>
                    </mat-card>
                </form>
            </mat-card-title>
            <br>
            <div class="alert alert-success" role="alert">
                SE DEBE SELECCIONAR EL PADECIMIENTO DEL DIENTE SELECCIONADO PARA PROCEDER A REALIZAR EL PROCEDIMIENTO
                CLINICO CORRESPONDIENTE
            </div>
            <br>


            <!---   <form align="right">
                <div>
                    <button mat-mini-fab type="button" data-toggle="modal" data-target="#exampleModalCenter">+</button>
                </div>
            </form>

           -- Modal
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 id="exampleModalLongTitle" class="text-center">AGREGAR
                                PADECIMIENTO</h5>
                        </div>
                        <div class="modal-body">
                            <div class="form-group row">
                                <label for="" class="col-4 col-form-label">Nombre del Padecimiento</label>
                                <input placeholder="" class="form-control col-6">
                            </div>
                            <div class="form-group row">
                                <mat-label for="" class="col-4 col-form-label">Procedimiento Clinico</mat-label>
                                <br>
                                <select class="form-control col-6">
                                    <option>Seleccionar</option>
                                    <option>Parte Superior</option>
                                    <option>Parte Inferior</option>
                                    <option>Lado Derecho</option>
                                    <option>Lado Izquierdo</option>
                                    <option>Diente por Diente</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <mat-label for="" class="col-4 col-form-label">Instrumentos</mat-label>
                                <br>
                                <select class="form-control col-6">
                                    <option>Seleccionar</option>
                                    <option>Parte Superior</option>
                                    <option>Parte Inferior</option>
                                    <option>Lado Derecho</option>
                                    <option>Lado Izquierdo</option>
                                    <option>Diente por Diente</option>
                                </select>
                            </div>

                            <label for="" class="col-6 col-form-label"></label>
                            <input type="file" name="archivo">

                        </div>
                        <div class="modal-footer">
                            <button mat-raised-button type="button" class="uno" (click)="historia()">AGREGAR</button>
                            <button mat-raised-button type="button" class="dos" (click)="cancelar()">CANCELAR</button>
                        </div>
                    </div>
                </div>
            </div>
        -->

            <div class="row">
                <div class="form-group row col-12 d-block">
                    <div>
                        <div class="mar">
                            <img class="mar" height="150" width="150" src="assets/padecimientosdiente1/Ausente.png">
                            <img class="mar" height="80" width="80"
                                src="assets/padecimientosdiente1/EndodonciaIndicada.png">
                            <img class="mar" height="80" width="80" src="assets/padecimientosdiente1/Caries.png">
                            <img class="mar" height="80" width="80"
                                src="assets/padecimientosdiente1/CoronaDefectuosa.png">
                            <img class="mar" height="80" width="80"
                                src="assets/padecimientosdiente1/CoronaEnBuenEstado.png">
                            <img class="mar" height="80" width="80"
                                src="assets/padecimientosdiente1/CoronaIndicada.png">
                        </div>
                        <div>
                            <img class="mar" height="150" width="150" src="assets/padecimientosdiente1/Extraccion.png">
                            <img class="mar" height="80" width="80"
                                src="assets/padecimientosdiente1/EndodonciaRealizada.png">
                            <img class="mar" height="80" width="80"
                                src="assets/padecimientosdiente1/EndodonciaRealizadaDefectuosa.png">
                            <img class="mar" height="80" width="80" src="assets/padecimientosdiente1/Munon.png">
                            <img class="mar" height="80" width="80"
                                src="assets/padecimientosdiente1/ObsturacionesDefectuosas.png">
                            <img class="mar" height="80" width="80"
                                src="assets/padecimientosdiente1/ObsturacionesPresentables.png">
                        </div>
                    </div>

                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-6">
                    <form action="">
                        <fieldset disabled>
                            <div class="form-group row">
                                <label for="" class="col-4 col-form-label">Pieza</label>
                                <input placeholder="" class="form-control col-6">
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-4 col-form-label">Padecimiento</label>
                                <input placeholder="" class="form-control col-6">
                            </div>
                            <div class="form-group row">
                                <mat-label for="" class="col-4 col-form-label">Procedimiento Odontologico</mat-label>
                                <br>
                                <select class="form-control col-6">
                                    <option>Seleccionar</option>
                                    <option>Parte Superior</option>
                                    <option>Parte Inferior</option>
                                    <option>Lado Derecho</option>
                                    <option>Lado Izquierdo</option>
                                    <option>Diente por Diente</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <mat-label for="" class="col-4 col-form-label">Cara</mat-label>
                                <br>
                                <select class="form-control col-6">
                                    <option>Seleccionar</option>
                                    <option>Parte Superior</option>
                                    <option>Parte Inferior</option>
                                    <option>Lado Derecho</option>
                                    <option>Lado Izquierdo</option>
                                    <option>Diente por Diente</option>
                                </select>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="col-6">
                    <form action="">
                        <fieldset disabled>
                            <div class="form-group row">
                                <mat-label for="" class="col-4 col-form-label">Instrumentos</mat-label>
                                <br>
                                <select class="form-control col-6">
                                    <option>Seleccionar</option>
                                    <option>Parte Superior</option>
                                    <option>Parte Inferior</option>
                                    <option>Lado Derecho</option>
                                    <option>Lado Izquierdo</option>
                                    <option>Diente por Diente</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <mat-label for="" class="col-4 col-form-label">Materiales</mat-label>
                                <br>
                                <select class="form-control col-6">
                                    <option>Seleccionar</option>
                                    <option>Parte Superior</option>
                                    <option>Parte Inferior</option>
                                    <option>Lado Derecho</option>
                                    <option>Lado Izquierdo</option>
                                    <option>Diente por Diente</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <mat-label for="" class="col-4 col-form-label">Posicion</mat-label>
                                <br>
                                <select class="form-control col-6">
                                    <option>Seleccionar</option>
                                    <option>Parte Superior</option>
                                    <option>Parte Inferior</option>
                                    <option>Lado Derecho</option>
                                    <option>Lado Izquierdo</option>
                                    <option>Diente por Diente</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-4 col-form-label">Consultas Posteriores</label>
                                <input placeholder="" class="form-control col-6">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="" class="col-4 col-form-label">Diagnostico</label>
                <textarea class="form-control" rows="3" class="form-control col-6"></textarea>
            </div>
            <br>
            <button mat-raised-button class="btn btn-success" >Guardar</button>
            <button mat-raised-button  class="btn btn-danger">Cancelar</button>
        </mat-card-content>
    </div>
</div>