<div class="container">

    <div class="left">
        <br>
        <img src="assets/img/usuario.png" class="avatar" alt="Avatar Image">
        <mat-card-content>
            <mat-list>
                <mat-card-title>
                    <div class="text-right">
                        <h5 align="center">{{patient.name}}</h5>
                        <h1 align="center">{{patient.age}} años</h1>
                    </div>

                </mat-card-title>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/conference.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="datos()" class="a">Datos Personales</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img clas="tres" src="https://img.icons8.com/dusk/50/000000/resume.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="informacion()" class="g">Historial Clinico</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/lifecycle.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="imagen()" class="b">Evolucion</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/counselor.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="consulta()" class="c">Consultas</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/workflow.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="verservicios()" class="d">Procedimientos</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/details-popup.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="seguimiento()" class="e">Seguimiento</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/hint.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="recipe()" class="h">Recipe</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img src="https://img.icons8.com/cotton/50/000000/treatment-list.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="informe()" class="j">Informe</button>
                        </div>
                    </form>
                </mat-list-item>

                <mat-list-item>
                    <img src="https://img.icons8.com/dusk/50/000000/budget.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="presupuesto()" class="i">Presupuesto</button>
                        </div>
                    </form>
                </mat-list-item>

            </mat-list>
        </mat-card-content>
    </div>

    <div class="center">
        <mat-card-content>
            <mat-card-title>
                <form>
                    <mat-card>
                        <br>
                        <h4><img src="https://img.icons8.com/dusk/50/000000/cheap.png"> PRESUPUESTO </h4>
                    </mat-card>
                </form>
            </mat-card-title>
            <br>
            <div class="alert alert-warning" role="alert">
                El estimado del presupuesto obtenido dependerá de los servicios odontológicos tratados.
            </div>

            <div class="row mt-5">
                <div class="col">
                    <h4 for="" class="lolo">Servicios Utilizados</h4>
                    <!-- <button type="button" class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalBook" (click)="resetForm()">New Book</button>-->
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Fecha de Creacion</th>
                                <th scope="col">Fechas de pago</th>
                                <th scope="col">Presupuesto Bsf</th>
                                <th scope="col">Presupuesto Dolares</th>
                                <th scope="col">Debe </th>
                                <th scope="col">Estatus</th>
                                <th scope="col">Servicios Tratados</th>
                                <th scope="col">Cancelar Cuota</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let presupuestoRe of presupuestoRe">
                                <td>{{presupuestoRe.id}}</td>
                                <td>{{presupuestoRe.FechadeCreacion}}</td>
                                <td>{{presupuestoRe.FechasdePagos}}</td>
                                <td>{{presupuestoRe.PresupuestoBsf}}</td>
                                <td>{{presupuestoRe.PresupuestoDolares}}</td>
                                <td>{{presupuestoRe.Debe}}</td>
                                <td>{{presupuestoRe.Estatus}}</td>
                                <td>{{presupuestoRe.serviciosTratados}}</td>

                                <td>
                                    <button mat-raised-button (click)="Modificar(presupuestoRe)"
                                        class="btn btn-info">Pagar</button>
                                </td>
                            </tr>

                        </tbody>
                        <br>
                        <br>
                        <br>

                    </table>

                </div>
            </div>
        </mat-card-content>

    </div>
</div>