<div class="container">
    <div class="left">
        <br>
        <img src="assets/img/usuario.png" class="avatar" alt="Avatar Image">
        <mat-card-content>
            <mat-list>
                <mat-card-title>
                    <div class="text-right">
                        <h5 align="center">{{patient.name}}</h5>
                        <h1 align="center">{{patient.age}} años</h1>
                    </div>

                </mat-card-title>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/conference.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="datos()" class="a">Datos Personales</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/lifecycle.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="imagen()" class="b">Evolucion</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/counselor.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="consulta()" class="c">Consultas</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/workflow.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="procedimiento()" class="d">Procedimientos</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/details-popup.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="seguimiento()" class="e">Seguimiento</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img clas="tres" src="https://img.icons8.com/dusk/50/000000/resume.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="informacion()" class="g">Historial Clinico</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/hint.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="recipe()" class="h">Recipe</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img src="https://img.icons8.com/dusk/50/000000/budget.png">
                   <form>
                        <div>
                            <button mat-stroked-button (click)="presupuesto()" class="i">Presupuesto</button>
                        </div>
                    </form>
                </mat-list-item>

            </mat-list>
        </mat-card-content>
    </div>

    <div class="center">
        <mat-card-content>
            <mat-card-title>
                <form>
                    <mat-card>
                        <br>
                        <h4><img src="https://img.icons8.com/dusk/50/000000/user-female-circle.png"> DATOS PERSONALES </h4>
                    </mat-card>
                </form>
            </mat-card-title>
            <br>
            <div class="alert alert-danger" role="alert">
                EL PACIENTE PADECE DE (COLOCAR ENFERMEDADES EN CASO DE QUE PADEZCA DE ALGO) Y EN CASO DE QUE HAYA TENIDO COMPLICACIONES CON LA ANESTECIA TAMBIEN COLOCARLO.
            </div>
            <div class="row per ">
                <div class="col-6">
                    <br>
                    <form action="">
                        <div class="form-group row">
                            <label for="" class="col-8 col-form-label">Numero Historia</label>
                            <input readonly type="text" #id="ngModel" name="id" class="form-control" placeholder="" [(ngModel)]='patient.id' required minlength="1" maxlength="50" class="form-control col-4">
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-8 col-form-label">Nombre del Paciente</label>
                            <input readonly type="text" #nameC="ngModel" name="nameC" class="form-control" placeholder="" [(ngModel)]='patient.name' required minlength="1" maxlength="50" class="form-control col-4">
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-8 col-form-label">Cedula</label>
                            <input readonly type="text" #dni="ngModel" name="dni" class="form-control" placeholder="" [(ngModel)]='patient.dni' required minlength="1" maxlength="40" class="form-control col-4">
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-8 col-form-label">Direccion Habitacion</label>
                            <input readonly type="text" #homeAddress="ngModel" name="homeAddress" class="form-control" placeholder="" [(ngModel)]='patient.homeAddress' required minlength="4" maxlength="100" class="form-control col-4">
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-8 col-form-label">Direccion Trabajo</label>
                            <input readonly type="text" #workAddress="ngModel" name="workAddress" class="form-control" placeholder="" [(ngModel)]='patient.workAddress' required minlength="4" maxlength="100" class="form-control col-4">
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-8 col-form-label">Lugar de Nacimiento</label>
                            <input readonly type="text" #birthPlace="ngModel" name="birthPlace" class="form-control" placeholder="" [(ngModel)]='patient.birthplace' required minlength="4" maxlength="1" class="form-control col-4">
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-8 col-form-label">Ocupacion</label>
                            <input readonly type="text" #occupation="ngModel" name="occupation" class="form-control" placeholder="" [(ngModel)]='patient.occupation' required minlength="4" maxlength="1" class="form-control col-4">
                        </div>
                        <!--   <div class="form-group row">
                            <label for="" class="col-8 col-form-label">Motivo de la Consulta</label>
                            <textarea readonly class="form-control-plaintext" id="staticEmail" class="form-control col-4"></textarea>
                        </div>-->
                        <div class="form-group row">
                            <label for="" class="col-8 col-form-label">Consultorio a Visitar</label>
                            <input readonly type="text" #userType="ngModel" name="userType" class="form-control" placeholder="" [(ngModel)]='patient.userType' required minlength="4" maxlength="1" class="form-control col-4">
                        </div>
                    </form>
                </div>
                <div class="col-4">
                    <br>
                    <form action="">
                        <div class="form-group row">
                            <label for="" class="col-6 col-form-label">Edad</label>
                            <input readonly min="1" type="number" #age="ngModel" name="age" placeholder="" [(ngModel)]='patient.age' required minlength="4" maxlength="100" class="form-control col-4">
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-6 col-form-label">Telefono de Casa</label>
                            <input readonly type="text" #phone="ngModel" name="phone" placeholder="" [(ngModel)]='patient.phone' required minlength="1" maxlength="100" class="form-control caja col-4">
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-6 col-form-label">Celular</label>
                            <input readonly type="text" #mobile="ngModel" name="mobile" class="form-control" placeholder="" [(ngModel)]='patient.mobile' required minlength="1" maxlength="100" class="form-control col-4">
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-6 col-form-label">Remitido por</label>
                            <input readonly type="text" #sentBy="ngModel" name="sentBy" class="form-control" placeholder="" [(ngModel)]='patient.sentBy' required minlength="1" maxlength="100" class="form-control col-4">
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-6 col-form-label">Estado Civil: </label>
                            <div class="radio">
                                <label>
                                  <input readonly type="radio" #Soltero="ngModel" name="Soltero" id="Soltero" value="Soltero" [(ngModel)]="patient.statusC" checked required>
                                  S
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                  <input readonly type="radio"  #Casado="ngModel" name="Casado" id="Casado" value="Casado" [(ngModel)]="patient.statusC"
                                  class="selector" checked>
                                    C
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                  <input readonly type="radio"  #Divorciado="ngModel" name="Divorciado" id="Divorciado" value="Divorciado" [(ngModel)]="patient.statusC"
                                  class="selector" checked>
                                    D
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                  <input readonly type="radio" #Viudo="ngModel" name="Viudo" id="Viudo" value="Viudo" [(ngModel)]="patient.statusC"
                                  class="selector" checked>
                                    V
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-6 col-form-label">Color Dental</label>
                            <input readonly type="text" #dentalColor="ngModel" name="dentalColor" class="form-control" placeholder="" [(ngModel)]='patient.dentalColor' required minlength="1" maxlength="50" class="form-control col-4">
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-6 col-form-label">En Emergencia llamar a</label>
                            <input readonly type="text" #familyName="ngModel" name="familyName" class="form-control" placeholder="" [(ngModel)]='patient.familyName' required minlength="1" maxlength="50" class="form-control col-4">
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-6 col-form-label">Telefono de Casa</label>
                            <input readonly type="text" #familyNumberHome="ngModel" name="familyNumberHome" class="form-control" placeholder="" [(ngModel)]='patient.familyNumberHome' required minlength="1" maxlength="50" class="form-control col-4">
                        </div>
                        <!-- <div class="form-group row">
                            <label for="" class="col-6 col-form-label">Historia Dental</label>
                            <textarea readonly class="form-control-plaintext" rows="3" id="staticEmail" class="form-control col-6"></textarea>
                        </div>-->
                    </form>
                </div>
            </div>

        </mat-card-content>
    </div>
</div>
