<div class="container">

    <div class="left">
        <br>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <form>
                        <div>
                            <button mat-stroked-button (click)="inventario()" class="a">Inventario</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <form>
                        <div>
                            <button mat-stroked-button (click)="especialidad()" class="b">Especialidades</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <form>
                        <div>
                            <button mat-stroked-button (click)="materiales()" class="c">Material Odontologico</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <form>
                        <div>
                            <button mat-stroked-button (click)="reportes()" class="e">Reportes</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </mat-card-content>
    </div>

    <div class="center">
        <mat-card-content>
            <mat-card-title>
                <form>
                    <mat-card>
                        <br>
                        <h4> INVENTARIO </h4>
                    </mat-card>
                </form>
            </mat-card-title>

            <div class="row">
                <div class="col-6">
                    <br>
                    <form action="">
                        <img src="assets/img/lista.png" class="avatar" alt="Avatar Image">
                        <br>
                        <br>

                        <div class="form-group row">
                            <br>
                            <br>
                            <label for="" class="col-6 col-form-label">Especialidades</label>
                            <input readonly class="form-control-plaintext" id="staticEmail" value="4"
                                class="form-control col-4">

                        </div>
                    </form>
                </div>
                <div class="col-4">
                    <br>
                    <form action="">
                        <img src="assets/img/supermercado.png" class="avatar" alt="Avatar Image">
                        <br>
                        <br>
                        <div class="form-group row">
                            <label for="" class="col-6 col-form-label">Materiales Odontologicos</label>
                            <input readonly class="form-control-plaintext" id="staticEmail" value="12"
                                class="form-control col-6">
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <br>

            <label for="" class="lolo">Materiales Odontologicos</label>
            <table class="table table-hover table-fixed">

                <!--Table head-->

                <thead>
                    <tr>
                        <th># Material</th>
                        <th>Nombre Material Odontologico</th>
                        <th>Fecha</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>

                <!--Table head-->

                <!--Table body-->
                <tbody>
                    <tr>
                        <th scope="row">hola</th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row">hooooo</th>
                    </tr>

                </tbody>
                <!--Table body-->
            </table>


        </mat-card-content>
    </div>
</div>