/* Structure */

table {
    width: 100%;
}

.claDoc {
    font-size: 40px;
    font: oblique bold 160% cursive;
}

.claDocEs {
    font-size: 40px;
    font: oblique bold 140% cursive;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

button {
    font-size: 20px;
}

.caja input {
    background-color: gray;
    padding: 10px;
    border-radius: 5%;
}

.caja2 {
    z-index: 10000;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5%;
}

.marg {
    margin: 5px;
}

.tres img {
    margin: 0 12px;
    background-color: transparent;
    outline: transparent;
    border-radius: 5px;
    margin-left: 100px;
}

.uno {
    margin: 0 12px;
    color: snow;
    background-color: #1DA1F2;
}

.raya {
    margin: 0 12px;
    color: snow;
    background-color: silver;
}
