/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  button {
    font-size: 20px;
  }
  
  .uno {
    margin: 0 12px;
    color: snow;
    background-color: #1DA1F2;
  }
  
  
  .raya {
    margin: 0 12px;
    color: snow;
    background-color: silver;
  }
  