<form align="left">
    <div>
        <span class="claDoc ">{{usuarioA}} </span>

    </div>
    <br>
    <span class="claDocEs ">{{especialidad}} </span>
</form>
<form align="right">
    <div>
        <button mat-raised-button class="uno"><img src="https://img.icons8.com/dusk/50/000000/medical-doctor.png">
            Agregar Doctores</button>
    </div>
</form>
<br>

<div class="row mt-5">
    <div class="col">
        <mat-form-field class=" col-2 border-bottom text-dark">
            <div class="row caja2">
                <img src="https://img.icons8.com/dusk/25/000000/search.png">
                <div class="row marg">
                    <mat-label class="text-dark"></mat-label>
                    <input matInput placeholder="Buscar">
                </div>
            </div>

        </mat-form-field>
        <!-- <button type="button" class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalBook" (click)="resetForm()">New Book</button>-->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre </th>
                    <th scope="col">Cedula</th>
                    <th scope="col">Tipo de Especialidad</th>
                    <th scope="col">Estatus</th>
                    <th scope="col">Deshabilitar</th>
                    <th scope="col">Habilitar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let doctorUser of doctorUser">
                    <td></td>
                    <td>{{doctorUser.name}}</td>
                    <td>{{doctorUser.dni}}</td>
                    <td>{{doctorUser.userType}}</td>
                    <td>{{doctorUser.status}}</td>
                    <td>
                        <button class="btn btn-link" (click)="darPermisoDoctor(doctorUser)">
                            <img src="https://img.icons8.com/dusk/50/000000/remove-user-male.png">
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-link" (click)="quitarPermisoDoctor(doctorUser)">
                            <img src="https://img.icons8.com/dusk/50/000000/checked-user-male.png">
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
