/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .caja input{
    background-color: gray;
    padding: 10px;
}

  button {
    font-size: 20px;
  }
  
  .tres img {
    margin: 0 12px;
    background-color:transparent;
    outline: transparent;
    border-radius: 5px;
    margin-left: 100px;
   }

  .uno {
    margin: 0 12px;
    color: snow;
    background-color: #1DA1F2;
  }
  
  
  .raya {
    margin: 0 12px;
    color: snow;
    background-color: silver;
  }
  