<form align="right">
    <div>
        <button mat-raised-button class="uno">Agregar Doctores</button>
    </div>
</form>
<br>

<mat-form-field class="caja">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)">
</mat-form-field>

<div class="row mt-5">
    <div class="col">
        <!-- <button type="button" class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalBook" (click)="resetForm()">New Book</button>-->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre </th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Cedula</th>
                    <th scope="col">Tipo de Especialidad</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let doctor of doctor">
                    <td></td>
                    <td>{{doctor.name}}</td>
                    <td>{{doctor.mobile}}</td>
                    <td>{{doctor.dni}}</td>
                    <td>{{doctor.usertype}}</td>
                    <td>
                        <img class="tres" src="https://img.icons8.com/dusk/50/000000/delete-sign.png">
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>