<div align='center'>
    <form>
        <mat-card>
            <br>
            <h4> MODIFICAR PROCEDIMIENTO DENTAL A UN PADECIMIENTO</h4>
            <br>
            <!--AGREGAR PIEZA FORMULARIO-->
            <form #formRegisterProcedimientoaPad="ngForm" (ngSubmit)="onRegisterProcedimientoApad(formRegisterProcedimientoaPad)">
                <div class="row">
                    <div class="col-6 caja">
                        <br>

                        <div class="form-group row">
                            <label for="" class="col-6 col-form-label">Nombre del Padecimiento</label>
                            <select #nombrePieza="ngModel" name="nombrePieza" class="form-control" placeholder="" [(ngModel)]='procedimientoaPad.NombrePadecimiento' id="nombrePieza" class="form-control col-5">
                              <option *ngFor="let padecimiento of padecimiento"
                                  [ngValue]="padecimiento.NombrePadecimiento">
                                  {{padecimiento.NombrePadecimiento}}</option>
                          </select>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-6 col-form-label">Materiales a Usar: </label>
                            <mat-form-field class="col-3">
                                <mat-select [formControl]="materialesArray" multiple>
                                    <mat-option *ngFor="let materials of materials" [value]="materials.name">
                                        {{materials.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-6 caja">
                        <br>
                        <div class="form-group row">
                            <label for="" class="col-6 col-form-label">Nombre del Procedimieto</label>
                            <select #nombrePadecimiento="ngModel" name="nombrePadecimiento" class="form-control" placeholder="" [(ngModel)]='procedimientoaPad.NombreProcedimiento' id="nombrePadecimiento" class="form-control col-5">
                              <option *ngFor="let procedimiento of procedimiento"
                                  [ngValue]="procedimiento.NombreProcedimiento">
                                  {{procedimiento.NombreProcedimiento}}</option>
                          </select>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-6 col-form-label">Instrumentos a Usar: </label>
                            <mat-form-field class="col-3 text-success">
                                <mat-select [formControl]="instrumentosArray" multiple>
                                    <mat-option *ngFor="let instrumento of instrumento" [value]="instrumento.name">
                                        {{instrumento.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <button mat-raised-button type="submit" class="btn btn-lg btn-success margen">Guardar</button>
                <button (click)="cancelar()" mat-raised-button class="btn btn-lg btn-danger margen">Cancelar</button>
            </form>
        </mat-card>
    </form>
</div>