<div class="container">

    <div class="left">
        <br>
        <img src="assets/img/usuario.png" class="avatar" alt="Avatar Image">
        <mat-card-content>
            <mat-list>
                <mat-card-title>
                    <h5 align="center">{{patient.name}}</h5>
                    <h1 align="center">{{patient.age}} años</h1>
                </mat-card-title>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/conference.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="datos()" class="a">Datos Personales</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/lifecycle.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="imagen()" class="b">Evolucion</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/counselor.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="consulta()" class="c">Consultas</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/workflow.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="procedimiento()" class="d">Procedimientos</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/details-popup.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="seguimiento()" class="e">Seguimiento</button>
                        </div>
                    </form>
                </mat-list-item>
                <!-- <mat-list-item>
                 <form>
                      <div>
                          <button mat-stroked-button (click)="odontograma()" class="f">Odontograma</button>
                      </div>
                  </form>
              </mat-list-item> -->
                <mat-list-item>
                    <img clas="tres" src="https://img.icons8.com/dusk/50/000000/resume.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="informacion()" class="g">Historial Clinico</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/hint.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="recipe()" class="h">Recipe</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img src="https://img.icons8.com/cotton/50/000000/treatment-list.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="informe()" class="j">Informe</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img src="https://img.icons8.com/dusk/50/000000/budget.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="presupuesto()" class="i">Presupuesto</button>
                        </div>
                    </form>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </div>

    <div class="center">
        <mat-card-content>
            <mat-card-title>
                <form>
                    <mat-card>
                        <br>
                        <h4><img src="https://img.icons8.com/dusk/50/000000/cheap.png"> PRESUPUESTO </h4>
                    </mat-card>
                </form>
            </mat-card-title>


            <br>
            <br>
            <form action="">
                <div class="row">
                    <div class="col-12">
                        <form #formRegisterModPre="ngForm" (ngSubmit)="onRegisterPresupuesto(formRegisterModPre)">
                            <br>
                            <div class="form-group row">
                                <label for="" class="col-5 col-form-label">Estimado</label>
                                <input disabled type="text" class="form-control col-4" #Estimado="ngModel" name="Estimado" id="Estimado" [(ngModel)]="presupuestoRe.Estimado">
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-5 col-form-label">Presupuesto Bsf</label>
                                <input type="text" class="form-control col-4" #PresupuestoBsf="ngModel" name="PresupuestoBsf" id="PresupuestoBsf" [(ngModel)]="presupuestoRe.PresupuestoBsf">
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-5 col-form-label">Presupuesto Dolares</label>
                                <input type="text" class="form-control col-4" #PresupuestoDolares="ngModel" name="PresupuestoDolares" id="PresupuestoDolares" [(ngModel)]="presupuestoRe.PresupuestoDolares">
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-5 col-form-label">Abono</label>
                                <input type="text" class="form-control col-4" #Abono="ngModel" name="Abono" id="Abono" [(ngModel)]="presupuestoRe.Abono">
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-5 col-form-label">Debe</label>
                                <input type="text" class="form-control col-4" #Debe="ngModel" name="Debe" id="Debe" [(ngModel)]="presupuestoRe.Debe">
                            </div>
                            <div>
                                <br>
                                <div class="form-group row">
                                    <mat-label for="" class="col-5 col-form-label">Estatus</mat-label>
                                    <br>
                                    <select class="form-control col-2" #Estatus="ngModel" name="Estatus" id="Estatus" [(ngModel)]="presupuestoRe.Estatus">
                                          <option selected>Deuda</option>
                                          <option>Pagado</option>
                                      </select>
                                </div>

                            </div>
                            <button mat-raised-button type="submit" class="btn btn-success">Guardar</button>
                            <button mat-raised-button class="btn btn-danger" onclick="cancelar()">Cancelar</button>

                        </form>
                    </div>
                </div>
                <br>

            </form>
            <br>
            <br>
            <br>
        </mat-card-content>

    </div>
</div>