<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
<body>
<div class="login-box">
  <img src="assets/img/logitoo.png" class="avatar" alt="Avatar Image">
  <h1>Login Here</h1>
  <form class="example-form">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" [(ngModel)]="username" name="username" text="username" required>
          </mat-form-field>
        </td>
      </tr>
      <tr>
      <td>
        <mat-form-field class="example-full-width">
        <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
        </mat-form-field></td>
    </tr></table>
  </form>
  <mat-card-actions>
      <button mat-raised-button (click)="login()" color="warn">Login In</button>
 </mat-card-actions>
 <br>
 <br>
 <a href="#">Lost your Password?</a><br>
 <a href="#">Don't have An account?</a>
  </div>
</body>
</section>