<div class="container">

    <div class="left">
        <br>
        <img src="assets/img/usuario.png" class="avatar" alt="Avatar Image">
        <mat-card-content>
            <mat-list>
                <mat-card-title>
                    <h5 align="center">{{patient.name}}</h5>
                    <h1 align="center">{{patient.age}} años</h1>
                </mat-card-title>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/conference.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="datos()" class="a">Datos Personales</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/lifecycle.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="imagen()" class="b">Evolucion</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/counselor.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="consulta()" class="c">Consultas</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/workflow.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="procedimiento()" class="d">Procedimientos</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/details-popup.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="seguimiento()" class="e">Seguimiento</button>
                        </div>
                    </form>
                </mat-list-item>
                <!-- <mat-list-item>
                   <form>
                        <div>
                            <button mat-stroked-button (click)="odontograma()" class="f">Odontograma</button>
                        </div>
                    </form>
                </mat-list-item> -->
                <mat-list-item>
                    <img clas="tres" src="https://img.icons8.com/dusk/50/000000/resume.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="informacion()" class="g">Historial Clinico</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/hint.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="recipe()" class="h">Recipe</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img src="https://img.icons8.com/cotton/50/000000/treatment-list.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="informe()" class="j">Informe</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img src="https://img.icons8.com/dusk/50/000000/budget.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="presupuesto()" class="i">Presupuesto</button>
                        </div>
                    </form>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </div>
    <div class="center">
        <mat-card-content>
            <mat-card-title>
                <form>
                    <mat-card>
                        <br>
                        <h4><img src="https://img.icons8.com/dusk/50/000000/treatment-plan.png"> INFORMACION CLINICA
                        </h4>
                    </mat-card>
                </form>
            </mat-card-title>
        </mat-card-content>
        <form #formRegisterhistorial="ngForm" (ngSubmit)="onRegisterhistorial(formRegisterhistorial)">
            <mat-accordion multi="true">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-description>
                            <h6> Examen Intraoral </h6>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-6 caja">
                            <form action="">
                                <br>
                                <div class="form-group row">
                                    <label for="" class="col-4 col-form-label">Labios </label>
                                    <input type="text" #labios="ngModel" name="labios" class="form-control" placeholder="" [(ngModel)]='historial.Labios' required minlength="4" maxlength="50" class="form-control col-6">
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-4 col-form-label">Carrillos </label>
                                    <input type="text" class="form-control" placeholder="" #carrillos="ngModel" name="carrillos" [(ngModel)]='historial.Carrillos' required minlength="4" maxlength="50" class="form-control col-6">
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-4 col-form-label">Paladar </label>
                                    <input type="text" class="form-control" placeholder="" #paladar="ngModel" name="paladar" [(ngModel)]='historial.Paladar' required minlength="4" maxlength="50" class="form-control col-6">
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-4 col-form-label">Lengua </label>
                                    <input type="text" class="form-control" placeholder="" #lengua="ngModel" name="lengua" [(ngModel)]='historial.Lengua' required minlength="4" maxlength="50" class="form-control col-6">
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-4 col-form-label">Piso de la Boca </label>
                                    <input type="text" class="form-control" placeholder="" #pisodelaBoca="ngModel" name="pisodelaBoca" [(ngModel)]='historial.PisodelaBoca' required minlength="4" maxlength="50" class="form-control col-6">
                                </div>
                            </form>
                        </div>

                        <div class="col-6 caja">
                            <form action="">
                                <br>
                                <div class="form-group row">
                                    <label for="" class="col-4 col-form-label">Mucosa </label>
                                    <input type="text" class="form-control" placeholder="" #mucosa="ngModel" name="mucosa" [(ngModel)]='historial.Mucosa' required minlength="4" maxlength="50" class="form-control col-6">
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-4 col-form-label">Encias </label>
                                    <input type="text" class="form-control" placeholder="" #encias="ngModel" name="encias" [(ngModel)]='historial.Encias' required minlength="4" maxlength="50" class="form-control col-6">
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-4 col-form-label">Calculos </label>
                                    <input type="text" class="form-control" placeholder="" #calculos="ngModel" name="calculos" [(ngModel)]='historial.Calculos' required minlength="4" maxlength="50" class="form-control col-6">
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-4 col-form-label">Ganglios </label>
                                    <input type="text" class="form-control" placeholder="" #ganglios="ngModel" name="ganglios" [(ngModel)]='historial.Ganglios' required minlength="4" maxlength="50" class="form-control col-6">
                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-4 col-form-label">Otro Motivo</label>
                                    <textarea class="form-control" rows="3" class="form-control col-6" #otroMotivo="ngModel" name="otroMotivo" [(ngModel)]='historial.OtroMotivo'></textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                    <mat-action-row>
                    </mat-action-row>
                </mat-expansion-panel>
                <br>
                <div class="form-group row">
                    <br>
                    <label for="" class="col-8 col-form-label">Ha tenido UD complicaciones por anestesia en la boca:
              </label>
                    <div class="radio">
                        <label>
                      <input type="radio"  #complicacionesanestesiaSi="ngModel" name="complicacionesanestesiaSi" value="Si" [(ngModel)]='historial.complicacionesanestesia'>
                      Si
                  </label>
                    </div>
                    <div class="radio">
                        <label>
                      <input type="radio"  #complicacionesanestesiaNo="ngModel" name="complicacionesanestesiaNo" value="No" [(ngModel)]='historial.complicacionesanestesia' class="selector">
                      No
                  </label>
                    </div>
                </div>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-description>
                            <h6> Ha padecido alguna de estas enfermedades </h6>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="row">
                        <div class="form-group row">
                            <div class="col-6">
                                <form action="">
                                    <br>
                                    <div class="form-group row">
                                        <label for="" class="col-8 col-form-label">Fiebre Reumatica </label>
                                        <div class="radio">
                                            <label>
                                          <input type="radio"  #FiebreSi="ngModel" name="FiebreSi" id="FiebreSi"  value="Si" [(ngModel)]='historial.FiebreReumatica'>
                                          Si
                                      </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                          <input type="radio" #FiebreNo="ngModel" name="FiebreNo" id="FiebreNo" value="No" [(ngModel)]='historial.FiebreReumatica'
                                              class="selector">
                                          No
                                      </label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col-8 col-form-label">Diabetes </label>
                                        <div class="radio">
                                            <label>
                                          <input type="radio" #DiabetesSi="ngModel" name="DiabetesSi" id="DiabetesSi" value="Si" [(ngModel)]='historial.Diabetes' class="selector">
                                          Si
                                      </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                          <input type="radio" #DiabetesNo="ngModel" name="DiabetesNo" id="DiabetesNo" value="No" [(ngModel)]='historial.Diabetes'
                                              class="selector">
                                          No
                                      </label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col-8 col-form-label">Cardiopatias </label>
                                        <div class="radio">
                                            <label>
                                          <input type="radio" #CardiopatiasSi="ngModel" name="CardiopatiasSi" id="CardiopatiasSi" value="Si" [(ngModel)]='historial.Cardiopatias'>
                                          Si
                                      </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                          <input type="radio"  #CardiopatiasNo="ngModel" name="CardiopatiasNo" id="CardiopatiasNo" value="No" [(ngModel)]='historial.Cardiopatias'
                                              class="selector">
                                          No
                                      </label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col-8 col-form-label">T.B.C </label>
                                        <div class="radio">
                                            <label>
                                          <input type="radio"  #TbcSi="ngModel" name="TbcSi" id="TbcSi" value="Si" [(ngModel)]='historial.Tbc'>
                                          Si
                                      </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                          <input type="radio"  #TbcNo="ngModel" name="TbcNo" id="TbcNo" value="No" [(ngModel)]='historial.Tbc'
                                              class="selector">
                                          No
                                      </label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col-8 col-form-label">Artritis </label>
                                        <div class="radio">
                                            <label>
                                          <input type="radio" #ArtritisSi="ngModel" name="ArtritisSi"  id="ArtritisSi" value="Si" [(ngModel)]='historial.Artritis'>
                                          Si
                                      </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                          <input type="radio"  #ArtritisNo="ngModel" name="ArtritisNo" id="ArtritisNo" value="No" [(ngModel)]='historial.Artritis'
                                              class="selector">
                                          No
                                      </label>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="col-6">
                                <form action="">
                                    <br>
                                    <div class="form-group row">
                                        <label for="" class="col-8 col-form-label">Hemorragias </label>
                                        <div class="radio">
                                            <label>
                                          <input type="radio" #HemorragiasSi="ngModel" name="HemorragiasSi"  id="HemorragiasSi" value="Si" [(ngModel)]='historial.Hemorragias'>
                                          Si
                                      </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                          <input type="radio"  #HemorragiasNo="ngModel" name="HemorragiasNo"  id="HemorragiasNo" value="No" [(ngModel)]='historial.Hemorragias'
                                              class="selector">
                                          No
                                      </label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col-8 col-form-label">Neuralgias </label>
                                        <div class="radio">
                                            <label>
                                          <input type="radio" #NeuralgiasSi="ngModel" name="NeuralgiasSi"  id="NeuralgiasSi" value="Si" [(ngModel)]='historial.Neuralgias'>
                                          Si
                                      </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                          <input type="radio" #NeuralgiasNo="ngModel" name="NeuralgiasNo" id="NeuralgiasNo" value="No" [(ngModel)]='historial.Neuralgias'
                                              class="selector">
                                          No
                                      </label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col-8 col-form-label">Sinusitis </label>
                                        <div class="radio">
                                            <label>
                                          <input type="radio" #NeuralgiasSi="ngModel" name="SinusitisSi"  id="SinusitisSi" value="Si" [(ngModel)]='historial.Sinusitiss'>
                                          Si
                                      </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                          <input type="radio" #SinusitisNo="ngModel" name="SinusitisNo" id="SinusitisNo" value="No"  [(ngModel)]='historial.Sinusitiss'
                                              class="selector">
                                          No
                                      </label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col-8 col-form-label">Renales </label>
                                        <div class="radio">
                                            <label>
                                          <input type="radio" #RenalesSi="ngModel" name="RenalesSi" id="RenalesSi" value="Si" [(ngModel)]='historial.Renales'>
                                          Si
                                      </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                          <input type="radio"  #RenalesNo="ngModel" name="RenalesNo" id="RenalesNo" value="No" [(ngModel)]='historial.Renales'
                                              class="selector">
                                          No
                                      </label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col-8 col-form-label">Alergias </label>
                                        <div class="radio">
                                            <label>
                                          <input type="radio"  #AlergiasSi="ngModel" name="AlergiasSi" id="AlergiasSi" value="Si" [(ngModel)]='historial.Alergias'>
                                          Si
                                      </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                          <input type="radio" #AlergiasNo="ngModel" name="AlergiasNo"  id="AlergiasNo" value="No" [(ngModel)]='historial.Alergias'
                                              class="selector">
                                          No
                                      </label>
                                        </div>
                                        <div class="form-group row">
                                            <label for="" class="col-3 col-form-label">Otra</label>
                                            <textarea class="form-control" rows="3" class="form-control col-9" #Otra="ngModel" name="Otra" [(ngModel)]='historial.Otra'></textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <mat-action-row>
                        <button mat-button color="warn"></button>
                    </mat-action-row>

                </mat-expansion-panel>

                <br>
                <div class="form-group row">
                    <label for="" class="col-4 col-form-label">Observaciones</label>
                    <textarea class="form-control" rows="3" class="form-control col-6" #Observaciones="ngModel" name="Observaciones" [(ngModel)]='historial.Observaciones'></textarea>
                </div>
                <br>

                <button type="submit" class="btn btn-success">Guardar</button>
                <button (click)="cancelar()" class="btn btn-danger">Cancelar</button>
                <br>
                <br>
            </mat-accordion>
        </form>
    </div>
</div>