<form align="left">
    <div>
        <span class="claDoc ">{{usuarioA}} </span>

    </div>
    <br>
    <span class="claDocEs ">{{especialidad}} </span>
</form>
<div class="au-xs-ta-center au-lg-ta-center">
    <ul class="rk-menu rk-categories-menu">
        <img src="https://img.icons8.com/ultraviolet/50/000000/tooth.png">
        <li class="active rk-menu__item"><a routerLink="/mantenimiento" class="rk-menu__link">Piezas Dentales</a>
        </li>
        <img src="https://img.icons8.com/dusk/50/000000/tooth-cracked.png">
        <li class="rk-menu__item"><a routerLink="/padecimiento" class="rk-menu__link">Padecimientos</a>
        </li>
        <img src="https://img.icons8.com/ultraviolet/50/000000/process.png">
        <li class="rk-menu__item"><a routerLink="/procedimiento" class="rk-menu__link">Procedimientos</a>
        </li>
    </ul>
</div>

<div class="container">

    <div class="center">
        <mat-card-content>
            <mat-card-title>
                <form>
                    <mat-card>
                        <br>
                        <div class="row">
                            <div class="col-2">
                                <br>
                                <form action="">
                                    <div class="form-group row">
                                        <div class="container">
                                            <div class="padre">
                                                <img src="https://img.icons8.com/ios/50/000000/set-of-teeth.png">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-10">
                                <br>
                                <form action="">
                                    <div class="form-group row">
                                        <h4 for="" class="col-10 col-form-label">Piezas Dentales</h4>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </mat-card>
                </form>
            </mat-card-title>
            <br>
            <form align="right">
                <div>
                    <button mat-raised-button (click)="agregarpieza()" class="uno"><img
                            src="https://img.icons8.com/cotton/50/000000/toothache.png"> Agregar Pieza Dental</button>
                </div>
            </form>
            <div class="row mt-5">
                <div class="col">
                    <label for="" class="lolo">Lista de Piezas Dentales</label>
                    <!-- <button type="button" class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalBook" (click)="resetForm()">New Book</button>-->
                    <table class="table table-hover" mdbTable mdbTableScroll scrollY="true" maxHeight="200"
                        bordered="true">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre Pieza</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Nomenclatura</th>
                                <th scope="col">Ubicacion</th>
                                <th scope="col">Imagen</th>
                                <th scope="col">Posicion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let piezadental of piezadental">
                                <td>{{piezadental.id}}</td>
                                <td>{{piezadental.NombrePieza}}</td>
                                <td>{{piezadental.Descripcion}}</td>
                                <td>{{piezadental.Nomenclatura}}</td>
                                <td>{{piezadental.Ubicacion}}</td>
                                <td> <img width="20" height="20" [src]="convert(piezadental.Imagen)" alt="img"></td>
                                <td>{{piezadental.Posicion}}</td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </mat-card-content>
    </div>
</div>