<div class="container">

    <div class="left">
        <br>
        <img src="assets/img/usuario.png" class="avatar" alt="Avatar Image">
        <mat-card-content>
            <mat-list>
                <mat-card-title>
                    <h5 align="center">{{patient.name}}</h5>
                    <h1 align="center">{{patient.age}} años</h1>
                </mat-card-title>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/conference.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="datos()" class="a">Datos Personales</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/lifecycle.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="imagen()" class="b">Evolucion</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/counselor.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="consulta()" class="c">Consultas</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/workflow.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="procedimiento()" class="d">Procedimientos</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/details-popup.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="seguimiento()" class="e">Seguimiento</button>
                        </div>
                    </form>
                </mat-list-item>
                <!-- <mat-list-item>
                   <form>
                        <div>
                            <button mat-stroked-button (click)="odontograma()" class="f">Odontograma</button>
                        </div>
                    </form>
                </mat-list-item> -->
                <mat-list-item>
                    <img clas="tres" src="https://img.icons8.com/dusk/50/000000/resume.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="informacion()" class="g">Historial Clinico</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/hint.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="recipe()" class="h">Recipe</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img src="https://img.icons8.com/cotton/50/000000/treatment-list.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="informe()" class="j">Informe</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img src="https://img.icons8.com/dusk/50/000000/budget.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="presupuesto()" class="i">Presupuesto</button>
                        </div>
                    </form>
                </mat-list-item>

            </mat-list>
        </mat-card-content>
    </div>

    <div class="center">
        <mat-card-content>
            <mat-card-title>
                <form>
                    <mat-card>
                        <br>
                        <h4><img src="https://img.icons8.com/color/50/000000/false-teeth.png"> ODONTOGRAMA </h4>
                    </mat-card>
                </form>
            </mat-card-title>
            <br>
            <div class="row">
                <div class="col-6">
                    <br>
                    <form #getype="ngForm" (ngSubmit)="getType(getype)">
                        <div class="form-group row">
                            <mat-label for="" class="col-4 col-form-label">Area Afectada</mat-label>
                            <br>
                            <select class="form-control col-5" #momento="ngModel" name="momento" id="momento" [(ngModel)]="momentoC">
                                <option selected>Diente por Diente</option>
                                <option>Todos los Dientes</option>
                                <option>Ortodoncia</option>
                            </select>
                            <div class="col-2">
                                <button class="sinp" type="submit" class="btn btn-success">Ir </button>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="col-6">
                    <br>

                </div>
            </div>

            <br>
            <br>
            <img src="assets/img/odontograma.png" alt="Avatar Image">
            <br>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-5">
                    <br>
                    <form action="">
                        <div class="form-group row">
                            <mat-label for="" class="col-4 col-form-label">Procedimiento Odontologico</mat-label>
                            <br>
                            <select #Procedimiento="ngModel" name="Procedimiento" [(ngModel)]='todoslosdientesOficial.ProcedimientoOdontologico' id="Procedimiento" class="form-control col-5">
                        <option *ngFor="let procedimientoaPad of procedimientoaPad" [ngValue]="procedimientoaPad.NombreProcedimiento" >
                            {{procedimientoaPad.NombreProcedimiento}}</option>
                    </select>
                            <div class="col-1 ">
                                <button class="sinp " (click)="buscarProcedimiento(procedimientoaPad.NombreProcedimiento)" class="btn btn-success ">Seleccionar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-1">

                </div>
                <div class="col-5">
                    <div>
                        <form action="">
                            <div class="form-group row">
                                <mat-label for="" class="col-3 col-form-label">Estatus</mat-label>
                                <br>
                                <select class="form-control col-4" #Estatus="ngModel" name="Estatus" [(ngModel)]='todoslosdientesOficial.Estatus'>
                          <option>Evaluado</option>
                          <option>Iniciado</option>
                          <option>Terminado</option>
                      </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-6">
            </div>
            <div class="row">
                <div class="col-1">

                </div>
                <div class="col-4">
                    <br>
                    <form action="">
                        <div class="form-group row">
                            <mat-label for="" class="col-3 col-form-label">Instrumentos</mat-label>
                            <textarea disabled class="form-control" rows="5" #instrumentosaux="ngModel" name="instrumentosaux" [(ngModel)]='todoslosdientesOficial.Instrumentos'></textarea>
                            <!--   <input #instrumentosaux="ngModel" name="instrumentosaux" [(ngModel)]='formulario.instrumentosaux' type="text">-->
                        </div>
                    </form>
                </div>
                <div class="col-2">

                </div>
                <div class="col-4">
                    <br>
                    <form action="">
                        <div class="form-group row">
                            <mat-label for="" class="col-3 col-form-label">Materiales</mat-label>
                            <textarea disabled class="form-control" rows="5" #materialesaux="ngModel" name="materialesaux" [(ngModel)]='todoslosdientesOficial.Materiales'></textarea>
                            <!--  <input #materialesaux="ngModel" name="materialesaux" [(ngModel)]='formulario.materialesaux' type="text">-->
                        </div>
                    </form>
                </div>

            </div>
            <br>
            <div class="form-group row">
                <label for="" class="col-4 col-form-label">Diagnostico</label>
                <textarea #Diagnostico="ngModel" name="Diagnostico" [(ngModel)]='todoslosdientesOficial.Diagnostico' rows="3" class="form-control col-6"></textarea>
            </div>
            <div class="form-group row">
                <label for="" class="col-4 col-form-label">Recomendaciones</label>
                <textarea #Recomendaciones="ngModel" name="Recomendaciones" [(ngModel)]='todoslosdientesOficial.Recomendaciones' rows="3" class="form-control col-6"></textarea>
            </div>
            <div class="form-group row">
                <label for="" class="col-4 col-form-label">Observaciones</label>
                <textarea #Observaciones="ngModel" name="Observaciones" [(ngModel)]='todoslosdientesOficial.Observaciones' rows="3" class="form-control col-6"></textarea>
            </div>

            <button mat-raised-button (click)="guardar()" class="btn btn-success">Guardar</button>
            <button mat-raised-button class="btn btn-danger">Cancelar</button>
        </mat-card-content>
    </div>
</div>