<div class="container">

    <div class="left">
        <br>
        <img src="assets/img/usuario.png" class="avatar" alt="Avatar Image">
        <mat-card-content>
            <mat-list>
                <mat-card-title>
                    <h5 align="center">Maria Salazar</h5>
                    <h1 align="center">12 años</h1>
                </mat-card-title>
                <mat-list-item>
                    <form>
                        <div>
                            <button mat-stroked-button (click)="datos()" class="a">Datos Personales</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <form>
                        <div>
                            <button mat-stroked-button (click)="imagen()" class="b">Imagenes y Archivos</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <form>
                        <div>
                            <button mat-stroked-button (click)="consulta()" class="c">Consultas</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <form>
                        <div>
                            <button mat-stroked-button (click)="procedimiento()" class="d">Procedimientos
                                Clinicos</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <form>
                        <div>
                            <button mat-stroked-button (click)="seguimiento()" class="e">Seguimiento</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <form>
                        <div>
                            <button mat-stroked-button (click)="odontograma()" class="f">Odontograma</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <form>
                        <div>
                            <button mat-stroked-button (click)="informacion()" class="g">Informacion Clinica</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <form>
                        <div>
                            <button mat-stroked-button (click)="recipe()" class="h">Recipe</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </mat-card-content>
    </div>

    <div class="center">
        <mat-card-content>
            <mat-card-title>
                <form>
                    <mat-card>
                        <br>
                        <h4> ODONTOGRAMA </h4>
                    </mat-card>
                </form>
            </mat-card-title>

            <div class="row">
                <div class="col-6">
                    <form action="">
                        <div class="form-group row">
                            <mat-label for="" class="col-4 col-form-label">Area Afectada</mat-label>
                            <br>
                            <select class="form-control col-8" id="status" name="status">
                                <option selected>Todos los Dientes</option>
                                <option value='1'>Diente por Diente</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <br>
            <img src="assets/img/odontograma.png" alt="Avatar Image">
            <br>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-6">
                    <br>
                    <form action="">
                        <div class="form-group row">
                            <mat-label for="" class="col-4 col-form-label">Instrumentos</mat-label>
                            <br>
                            <select class="form-control col-6">
                                <option>Seleccionar</option>
                                <option>Parte Superior</option>
                                <option>Parte Inferior</option>
                                <option>Lado Derecho</option>
                                <option>Lado Izquierdo</option>
                                <option>Todos los Dientes</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-6">
                    <br>
                    <form action="">
                        <div class="form-group row">
                            <mat-label for="" class="col-4 col-form-label">Procedimientos</mat-label>
                            <br>
                            <select class="form-control col-6">
                                <option>Seleccionar</option>
                                <option>Parte Superior</option>
                                <option>Parte Inferior</option>
                                <option>Lado Derecho</option>
                                <option>Lado Izquierdo</option>
                                <option>Todos los Dientes</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="" class="col-4 col-form-label">Diagnostico</label>
                <textarea class="form-control" rows="3" class="form-control col-6"></textarea>
            </div>
        </mat-card-content>
    </div>
</div>