<div align='center'>
    <form>
        <mat-card>
            <br>
            <h4> AGREGAR SERVICIO </h4>
            <br>
            <!--AGREGAR PIEZA FORMULARIO-->
            <form #formRegisterServicio="ngForm" (ngSubmit)="onRegisterServicio(formRegisterServicio)">
                <div class="row">
                    <div class="col-6 caja">
                        <br>

                        <div class="form-group row">
                            <label for="" class="col-6 col-form-label">Nombre del Servicio</label>
                            <input type="text" #NombredelServicio="ngModel" name="NombredelServicio" [(ngModel)]='PiezaRe.NombredelServicio' required minlength="4" maxlength="50" class="form-control col-6">
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="NombredelServicio.touched && !NombredelServicio.valid">
                            <div *ngIf="NombredelServicio.errors.required">Campo requerido</div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-6 col-form-label">Descripcion</label>
                            <input type="text" #descripcion="ngModel" name="descripcion" class="form-control" placeholder="" [(ngModel)]='PiezaRe.Descripcion' required minlength="4" maxlength="50" class="form-control col-6">
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="descripcion.touched && !descripcion.valid">
                            <div *ngIf="descripcion.errors.required">Campo requerido</div>
                        </div>
                    </div>
                    <div class="col-6 caja">
                        <br>

                        <div class="form-group row">
                            <label for="" class="col-6 col-form-label">Costo</label>
                            <input type="number" min="1" #costo="ngModel" name="costo" class="form-control" placeholder="" [(ngModel)]='PiezaRe.Costo' required max="32" class="form-control col-2">
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="costo.touched && !costo.valid">
                            <div *ngIf="costo.errors.required">Campo requerido</div>
                        </div>


                    </div>
                </div>
                <div>
                    <button mat-raised-button type="submit" class="btn btn-lg btn-success margen">Guardar</button>
                    <button (click)="cancelar()" mat-raised-button class="btn btn-lg btn-danger margen">Cancelar</button>

                </div>
                <br>
            </form>
        </mat-card>
    </form>
</div>