<div class="au-xs-ta-center au-lg-ta-center">
    <ul class="rk-menu rk-categories-menu">
        <img src="https://img.icons8.com/dusk/50/000000/dental-filling.png">
        <li class="active rk-menu__item"><a routerLink="/especialidad" class="rk-menu__link">Instrumentos
                Odontologicos</a>
        </li>
        <img src="https://img.icons8.com/dusk/50/000000/product.png">
        <li class="rk-menu__item"><a routerLink="/materiales" class="rk-menu__link">Materiales Odontologicos</a>
        </li>
        <img src="https://img.icons8.com/dusk/50/000000/search-property.png">
        <li class="rk-menu__item"><a routerLink="/reportes" class="rk-menu__link">Reportes</a>
        </li>
    </ul>
</div>
<div align='center'>
    <form>
        <mat-card>
            <br>
            <h4> AGREGAR INSTRUMENTOS </h4>
            <br>
            <!--AGREGAR MATERIAL FORMULARIO-->
            <form #formRegisterInstrumentos="ngForm" (ngSubmit)="onRegisterInstrumento(formRegisterInstrumentos)">
                <div class="row">
                    <div class="col-6 caja">
                        <br>

                        <div class="form-group row">
                            <label for="" class="col-6 col-form-label">Nombre del Instrumento</label>
                            <input type="text" #nameC="ngModel" name="nameC" class="form-control" placeholder=""
                                [(ngModel)]='instrumentoRe.name' required minlength="4" maxlength="50"
                                class="form-control col-6">
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="nameC.touched && !nameC.valid">
                            <div *ngIf="nameC.errors.required">Campo requerido</div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-6 col-form-label">Cantidad</label>
                            <input type="number" min="0" #Cantidad="ngModel" name="Cantidad" class="form-control"
                                placeholder="" [(ngModel)]='instrumentoRe.cantidad' required minlength="1"
                                maxlength="50" class="form-control col-4">
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="Cantidad.touched && !Cantidad.valid">
                            <div *ngIf="Cantidad.errors.required">Campo requerido</div>
                        </div>

                    </div>
                    <div class="col-6 caja">
                        <br>

                        <div class="form-group row">
                            <mat-label for="" class="col-6 col-form-label">Escoger Especialidad</mat-label>
                            <br>
                            <select #Especialidad="ngModel" name="Especialidad" id="Especialidad"
                                [(ngModel)]="instrumentoRe.especiality" class="form-control col-4">
                                <option>Odontologia</option>
                                <option>Ortodoncia</option>
                                <option>Ambas</option>
                            </select>
                        </div>

                    </div>
                </div>
                <div>
                    <button [disabled]="!formRegisterInstrumentos.valid" mat-raised-button type="submit"
                        class="btn btn-lg btn-success margen">Guardar</button>
                    <button (click)="cancelar()" mat-raised-button
                        class="btn btn-lg btn-danger margen">Cancelar</button>

                </div>
                <br>
            </form>
        </mat-card>
    </form>
</div>