<form align="left">
    <div>
        <span class="claDoc ">{{usuarioA}} </span>

    </div>
    <br>
    <span class="claDocEs ">{{especialidad}} </span>
</form>
<br>
<br>
<br>
<div class="row">
    <form #gelist="ngForm" (ngSubmit)="getPatientByDoctor(gelist)">
        <br>
        <div class="form-group row">
            <br>
            <br>
            <label for="" class="col-5">Pacientes del Doctor: </label>
            <select #name="ngModel" name="name" class="form-control" placeholder="" [(ngModel)]='doctorP.name' id="name" class="form-control col-3">
                                <option *ngFor="let doctorUser of doctorUser" [ngValue]="doctorUser.name">
                                    {{doctorUser.name}}</option>
                                    <option>Todos</option>
                            </select>
            <div class="col-1">
                <button class="sinp" type="submit" class="btn btn-success">Buscar </button>
            </div>
        </div>
    </form>

</div>
<form align="right">
    <div>

        <button mat-raised-button (click)="pacientes()" class="uno"> <img src="https://img.icons8.com/dusk/50/000000/add-user-male.png">   Agregar Pacientes</button>
    </div>
</form>
<br>

<div class="row mt-5">
    <div class="col">

        <div class="row">
            <div class="">
            </div>

            <div class="row marg">
                <input placeholder="Buscar Pacientes..." type="text" class="form-control" name="filterpost" [(ngModel)]="filterpost">
            </div>
        </div>


        <!-- <button type="button" class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalBook" (click)="resetForm()">New Book</button>-->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre </th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Cedula</th>
                    <th scope="col">Ocupacion</th>
                    <th scope="col">Nombre Familiar</th>
                    <th scope="col">Numero Familiar</th>
                    <th scope="col">Doctor Encargado</th>
                    <th scope="col">Historia clinica</th>
                    <th scope="col">Editar Paciente</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let patien of patient | filter: filterpost">
                    <td></td>
                    <td>{{patien.name}}</td>
                    <td>{{patien.phone}}</td>
                    <td>{{patien.dni}}</td>
                    <td>{{patien.occupation}}</td>
                    <td>{{patien.familyName}}</td>
                    <td>{{patien.familyNumberHome}}</td>
                    <td>{{patien.registradoPor}}</td>
                    <td>
                        <img class="tres" (click)="historia(patien)" src="https://img.icons8.com/dusk/50/000000/order-history.png">
                    </td>
                    <td>
                        <img class="tres" (click)="editarpaciente(patien)" src="https://img.icons8.com/dusk/50/000000/edit-property.png">
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

<!--<section>
    <div id="patient">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3" *ngFor="let patient of patient">
                    <div class="card-patient">
                        <mat-card>
                            <mat-card-header>
                                <h6>Remitido por: {{patient.sentBy}}</h6>
                            </mat-card-header>
                            <p class="centrado">Telefono: {{patient.mobile}}</p>
                            <p class="centrado">Ocupacion: {{patient.occupation}}</p>
                            <p class="centrado">Nombre del Familiar {{patient.familyName}}</p>
                            <mat-card-actions align="center_focus_strong">
                                <button mat-button>Ver Historia Clinica</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>-->