/* Structure */

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.claDoc {
    font-size: 40px;
    font: oblique bold 160% cursive;
}

input {
    padding: 10px;
    height: 35px;
    width: 200px;
    background-color: #2c2b2b;
    margin-left: 30px;
    margin-bottom: 50px;
}

.claDocEs {
    font-size: 40px;
    font: oblique bold 140% cursive;
}

button {
    font-size: 20px;
}

.uno {
    margin: 0 12px;
    color: snow;
    background-color: #1DA1F2;
}

.tama {
    size: 1px;
}

.caja input {
    background-color: gray;
    padding: 10px;
    border-radius: 5%;
}

.caja2 {
    z-index: 10000;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5%;
}

.tres img {
    margin: 0 12px;
    background-color: transparent;
    outline: transparent;
    border-radius: 5px;
    margin-left: 100px;
}

.raya {
    margin: 0 12px;
    color: snow;
    background-color: silver;
}

#books {
    border-radius: 0.25rem;
    background: #f9f9f9 !important;
}

.centrado {
    padding-top: 5px;
    text-align: center;
}

.card-patient {
    margin: 10px;
}

section {
    padding: 20px 0;
}

#books .card {
    border: none;
    background: #fff;
}

.mat-button {
    background-color: darkgray;
}