<form align="right">
    <div>
        <button mat-raised-button (click)="pacientes()" class="uno">Agregar Pacientes</button>
    </div>
</form>
<br>

<mat-form-field class="caja">
    <mat-label>Buscar</mat-label>
</mat-form-field>

<div class="row mt-5">
    <div class="col">
        <!-- <button type="button" class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalBook" (click)="resetForm()">New Book</button>-->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre </th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Cedula</th>
                    <th scope="col">Ocupacion</th>
                    <th scope="col">Nombre Familiar</th>
                    <th scope="col">Numero Familiar</th>
                    <th scope="col">Tipo de Especialidad</th>
                    <th scope="col">Historia clinica</th>
                    <th scope="col">Editar Paciente</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let patient of patient">
                    <td></td>
                    <td>{{patient.name}}</td>
                    <td>{{patient.phone}}</td>
                    <td>{{patient.dni}}</td>
                    <td>{{patient.occupation}}</td>
                    <td>{{patient.familyName}}</td>
                    <td>{{patient.familyNumberHome}}</td>
                    <td>
                        <img class="tres" (click)="historia()" src="https://img.icons8.com/dusk/50/000000/order-history.png">
                    </td>
                    <td>
                        <img class="tres" (click)="historia()" src="https://img.icons8.com/dusk/50/000000/edit-property.png">
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

<!--<section>
    <div id="patient">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3" *ngFor="let patient of patient">
                    <div class="card-patient">
                        <mat-card>
                            <mat-card-header>
                                <h6>Remitido por: {{patient.sentBy}}</h6>
                            </mat-card-header>
                            <p class="centrado">Telefono: {{patient.mobile}}</p>
                            <p class="centrado">Ocupacion: {{patient.occupation}}</p>
                            <p class="centrado">Nombre del Familiar {{patient.familyName}}</p>
                            <mat-card-actions align="center_focus_strong">
                                <button mat-button>Ver Historia Clinica</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>-->
