<form align="right">
    <div>
        <button mat-raised-button (click)="pacientes()" class="uno">Agregar Pacientes</button>
    </div>
</form>
<br>
<section>
    <div id="patient">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3" *ngFor="let patient of patient">
                    <div class="card-patient">
                        <mat-card>
                            <mat-card-header>
                                <h6>Remitido por: {{patient.sentBy}}</h6>
                            </mat-card-header>
                            <p class="centrado">Telefono: {{patient.mobile}}</p>
                            <p class="centrado">Ocupacion: {{patient.occupation}}</p>
                            <p class="centrado">Nombre del Familiar {{patient.familyName}}</p>
                            <mat-card-actions align="center_focus_strong">
                                <button mat-button>Ver Historia Clinica</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>