<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
    <!-- <div class="au-xs-ta-center au-lg-ta-left">
    <ul class="rk-menu rk-categories-menu">
        <li class="active rk-menu__item"><a href="portfolio.html" class="rk-menu__link">Flex</a>
        </li>
        <li class="rk-menu__item"><a href="portfolio-alt.html" class="rk-menu__link">Switch</a>
        </li>
        <li class="rk-menu__item"><a href="portfolio-raw.html" class="rk-menu__link">Static</a>
        </li>
        <li class="rk-menu__item"><a href="portfolio-masonry.html" class="rk-menu__link">Masonry</a>
        </li>
    </ul>
</div> -->
    <!--1-->
    <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
        <a routerLink="/pacientes" class="rk-item ae-masonry__item">
            <img src="assets/inicio/inicio-1.jpg" alt="">
            <div class="item-meta">
                <h2>Pacientes</h2>
                <p>Lista de los Pacientes Almacenados</p>
            </div>
        </a>
        <!--5-->
        <a href="portfolio-item.html" class="rk-item ae-masonry__item">
        </a>
        <a routerLink="/diaria" class="rk-item ae-masonry__item">
            <img src="assets/inicio/inicio-2.jpg" alt="">
            <div class="item-meta">
                <h2>Consultas</h2>
                <p>Lista de las Consultas Almacenadas</p>
            </div>
        </a>
        <!--2-->
        <a href="portfolio-item.html" class="rk-item ae-masonry__item">
        </a>
        <a routerLink="/doctores" class="rk-item ae-masonry__item">
            <img src="assets/inicio/doctores.jpg" alt="">
            <div class="item-meta">
                <h2>Doctores</h2>
                <p>Lista de los Doctores Almacenados</p>
            </div>
        </a>
        <a href="portfolio-item.html" class="rk-item ae-masonry__item">
        </a>
        <!--3-->
        <a routerLink="/materiales" class="rk-item ae-masonry__item">
            <img src="assets/inicio/inicio-4.jpg" alt="">
            <div class="item-meta">
                <h2>Inventario</h2>
                <p>Instrumentos y Materiales de la Empresa</p>
            </div>
        </a>
    </div>
</section>
