<div class="container">

    <div class="center">
        <mat-card-content>
            <mat-card-title>
                <form>
                    <mat-card>
                        <br>
                        <h2> 23 ENERO 2020 </h2>
                        <br>

                        <div class="row">
                            <div class="col-6">
                                <br>
                                <form action="">
                                    <div class="form-group row">

                                    </div>
                                </form>
                            </div>
                            <div class="col-4">
                                <br>
                                <form action="">
                                    <div class="form-group row">
                                        <button mat-raised-button (click)="semanal()" class="tres">Semanal</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-2">
                                <br>
                                <form action="">
                                    <div class="form-group row">
                                        <button mat-raised-button (click)="diaria()" class="cuarto">Diaria</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </mat-card>
                </form>
            </mat-card-title>

            <table class="table table-hover table-fixed">

                <!--Table head-->

                <thead>
                    <tr>
                        <th>HORA</th>
                        <th>LUNES</th>
                        <th>MARTES</th>
                        <th>MIERCOLES</th>
                        <th>JUEVES</th>
                        <th>VIERNES</th>
                        <th>SABADO</th>

                    </tr>
                </thead>

                <!--Table head-->

                <!--Table body-->
                <tbody>
                    <tr>
                        <th scope="row">8:00 am 9:00 am</th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                        <th scope="row"></th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                    </tr>

                    <tr>
                        <th scope="row">9:00 am 10:00 am</th>
                        <th scope="row"></th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                        <th scope="row"></th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row">10:00 am 11:00 am</th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row">11:00 am 12:00 m</th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row">12:00 m 1:00 pm</th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row">1:00 pm 2:00 pm</th>
                        <th scope="row"></th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                        <th scope="row"></th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row">2:00 pm 3:00 pm</th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row">3:00 pm 4:00 pm</th>
                        <th scope="row"></th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                    </tr>

                    <tr>
                        <th scope="row">4:00 pm 5:00 pm</th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                        <th scope="row"></th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row">5:00 pm 6:00 pm</th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                </tbody>
                <!--Table body-->
            </table>
                <!--Table-->

            <!-- Modal -->
            
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 id="exampleModalLongTitle" class="text-center">AGENDAR CITA</h5>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger" role="alert">
                                CITA SELECCIONADA PARA LA DOCTORA NATASHA ALBARRÁN 20/12/2020 8:30 AM
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-6 col-form-label">Nombre del Paciente</label>
                                <input placeholder="" class="form-control col-4">
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-6 col-form-label">PROCEDIMIENTO CLINICO: </label>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="opciones" id="opciones_1" value="opcion_1" checked>
                                        Nuevo
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="opciones" id="opciones_2" value="opcion_2"
                                            class="selector" checked>
                                        Antiguo
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button mat-raised-button type="button" class="uno" (click)="historia()">AGREGAR</button>
                            <button mat-raised-button type="button" class="dos" (click)="cancelar()">CANCELAR</button>
                        </div>
                    </div>
                </div>
            </div>

        </mat-card-content>
    </div>
</div>