<div align='center'>
    <mat-card>
        <mat-panel-title>
            <br>
            <h4 class="text-center"><img src="https://img.icons8.com/dusk/50/000000/timetable.png"> CONSULTAS </h4>
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
        <br>

        <div class="row per" *ngIf="!MostrarForm">
            <div class="col-6">
                <br>
                <form #SearchPatient="ngForm" (ngSubmit)="onSearch(SearchPatient)">
                    <div class="form-group row">
                        <label for="" class="col-8 col-form-label">Cedula</label>
                        <input type="text" #dni="ngModel" name="dni" class="form-control" placeholder="" [(ngModel)]='patient.dni' required minlength="4" maxlength="50" class="form-control col-2">

                        <div>
                            <button class="sinp" type="submit" class="btn btn-success">Buscar </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div *ngIf="MostrarForm">
            <form #formRegisterConsulta="ngForm" (ngSubmit)="onRegisterConsulta(formRegisterConsulta)">
                <div class="row per">
                    <div class="col-6">
                        <div class="form-group row">
                            <label for="" class="col-8 col-form-label">Cedula</label>
                            <input type="text" #dni="ngModel" name="dni" class="form-control" placeholder="" [(ngModel)]='patientf.dni' required minlength="4" maxlength="50" class="form-control col-2">
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-8 col-form-label">Motivo de la Consulta</label>
                            <textarea #motive="ngModel" name="motive" class="form-control" placeholder="" [(ngModel)]='consulta.motive' rows="3" class="form-control col-4"></textarea>
                        </div>
                        <div class="form-group row">
                            <mat-label for="" class="col-8 col-form-label">Consultorio a Visitar</mat-label>
                            <br>
                            <select #consultorioVisitar="ngModel" name="consultorioVisitar" class="form-control" placeholder="" [(ngModel)]='consulta.consultorioVisitar' id="consultorioVisitar" class="form-control col-4">
                        <option>Odontologia</option>
                        <option>Ortodoncia</option>
                    </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group row">
                            <label for="" class="col-6 col-form-label">Nombre Completo</label>
                            <input type="text" #nameC="ngModel" name="nameC" class="form-control" placeholder="" [(ngModel)]='patientf.name' required minlength="4" maxlength="50" class="form-control col-5">
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-6 col-form-label">Fecha</label>
                            <input name="fecha" matInput [matDatepicker]="picker" placeholder="Elije una fecha" class="form-control col-4" [(ngModel)]="fecha">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-6 col-form-label">Hora</label>
                            <input [(ngModel)]="hora" type="time" name="hora" id="hora" class="form-control col-4" min="8:00" max="18:00" step="5:00">
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-4 col-form-label">Atentido Por: </label>
                            <select #atendidoPor="ngModel" name="atendidoPor" class="form-control" placeholder="" [(ngModel)]='consulta.atendidoPor' id="atendidoPor" class="form-control col-6">
                            <option *ngFor="let doctorUser of doctorUser" [ngValue]="doctorUser.name">{{doctorUser.name}}</option>
                        </select>
                        </div>


                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-lg btn-success">Crear Consulta</button>
            </form>
        </div>



        <br>
    </mat-card>
</div>
