<div class="au-xs-ta-center au-lg-ta-center">
    <ul class="rk-menu rk-categories-menu">
        <li class="active rk-menu__item"><a routerLink="/especialidad" class="rk-menu__link">Especialidades</a>
        </li>
        <li class="rk-menu__item"><a routerLink="/materiales" class="rk-menu__link">Materiales Odontologicos</a>
        </li>
        <li class="rk-menu__item"><a routerLink="/reportes" class="rk-menu__link">Reportes</a>
        </li>
    </ul>
</div>
<div class="container">

    <div class="center">
        <mat-card-content>
            <mat-card-title>
                <form>
                    <mat-card>
                        <br>
                        <div class="row">
                            <div class="col-2">
                                <br>
                                <form action="">
                                    <div class="form-group row">
                                        <div class="container">
                                            <div class="padre">
                                                <img src="assets/inicio/inicio-4.jpg" class="avatar" alt="Avatar Image">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-10">
                                <br>
                                <form action="">
                                    <br>
                                    <div class="form-group row">
                                        <br>
                                        <h4 for="" class="col-10 col-form-label">MATERIALES ODONTOLOGICOS</h4>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </mat-card>
                </form>
            </mat-card-title>

            <div class="row">
                <div class="col-6">
                    <br>
                    <form action="">
                        <div class="form-group row">
                            <label for="" class="col-6 col-form-label">Nombre del Material</label>
                            <input placeholder="" class="form-control col-6">
                        </div>
                    </form>
                </div>
                <div class="col-6">
                    <br>
                    <form action="">
                        <div class="form-group row">
                            <mat-label for="" class="col-6 col-form-label">Escoger Especialidad</mat-label>
                            <br>
                            <select class="form-control col-4">
                                <option>Odontologia</option>
                                <option>Ortodoncia</option>
                            </select>
                        </div>

                    </form>
                </div>
            </div>
            <br>
            <br>
            <button mat-raised-button (click)="materiales()" class="uno">GUARDAR</button>
            <button mat-raised-button (click)="materiales()" class="dos">CANCELAR</button>
            <br>
            <br>
            <br>
            <br>

            <label for="" class="lolo">Lista Materiales Odontologicos</label>

            <table class="table table-hover table-fixed">

                <!--Table head-->

                <thead>
                    <tr>
                        <th># Material</th>
                        <th>Nombre Material</th>
                        <th>Cantidad</th>
                        <th>Fecha</th>
                        <th>Especialidad</th>

                    </tr>
                </thead>

                <!--Table head-->

                <!--Table body-->
                <tbody>
                    <tr>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                </tbody>
                <!--Table body-->
            </table>

            <!--Table-->

        </mat-card-content>
    </div>
</div>