<div class="au-xs-ta-center au-lg-ta-center">
    <ul class="rk-menu rk-categories-menu">
        <img src="https://img.icons8.com/dusk/50/000000/dental-filling.png">
        <li class="active rk-menu__item"><a routerLink="/especialidad" class="rk-menu__link">Insumos Odontologicos</a>
        </li>
        <img src="https://img.icons8.com/dusk/50/000000/product.png">
        <li class="rk-menu__item"><a routerLink="/materiales" class="rk-menu__link">Materiales Odontologicos</a>
        </li>
        <img src="https://img.icons8.com/dusk/50/000000/search-property.png">
        <li class="rk-menu__item"><a routerLink="/reportes" class="rk-menu__link">Reportes</a>
        </li>
    </ul>
</div>

<div class="container">

    <div class="center">
        <mat-card-content>
            <mat-card-title>
                <form>
                    <mat-card>
                        <br>
                        <div class="row">
                            <div class="col-2">
                                <br>
                                <form action="">
                                    <div class="form-group row">
                                        <div class="container">
                                            <img src="https://img.icons8.com/dusk/50/000000/electric-toothbrush.png">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-10">
                                <br>
                                <form action="">
                                    <div class="form-group row">
                                        <h4 for="" class="col-10 col-form-label">MATERIALES ODONTOLOGICOS</h4>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </mat-card>
                </form>
            </mat-card-title>
            <br>
            <form align="right">
                <div>
                    <button mat-raised-button (click)="agregarmaterial()" class="uno"><img src="https://img.icons8.com/dusk/50/000000/toothpaste.png">     Agregar Material</button>
                </div>
            </form>
            <div class="row">
                <div class="col-6">
                    <br>
                    <form action="">
                        <div class="form-group row">
                            <br>
                            <br>
                            <label for="" class="col-6 col-form-label">Tipo de Especialidad:</label>
                            <select class="form-control col-6">
                                <option>Odontologia</option>
                                <option>Ortodoncia</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col">
                    <label for="" class="lolo">Lista Materiales Odontologicos</label>
                    <mat-form-field class=" col-2 border-bottom text-dark">
                        <div class="row caja2">
                            <img src="https://img.icons8.com/dusk/25/000000/search.png">

                            <div class="row marg">
                                <mat-label class="text-dark"></mat-label>
                                <input matInput placeholder="Buscar">
                            </div>
                        </div>

                    </mat-form-field>
                    <!-- <button type="button" class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalBook" (click)="resetForm()">New Book</button>-->
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre </th>
                                <th scope="col">Especialidad</th>
                                <th scope="col">Costo</th>
                                <th scope="col">Catidad</th>
                                <th scope="col">Catidad a usar</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Usar</th>
                                <th scope="col">Elimar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let material of material">
                                <td>{{material.id}}</td>
                                <td>{{material.name}}</td>
                                <td>{{material.especiality}}</td>
                                <td>{{material.costo}}</td>
                                <td>{{material.cantidad}}</td>
                                <td>
                                    <div class="caja">
                                        <input [(ngModel)]="CantUsar" class="inp col-4" min="0" type="number" name="CantUsar">

                                    </div>
                                </td>
                                <td>
                                    <button mat-raised-button class="btn btn-dark">
                                      <span>
                                       {{material.estadoDisp}}
                                      </span>
                                    </button>
                                </td>
                                <td>
                                    <button mat-raised-button (click)="usarMaterial(material)" class="btn btn-success">Usar</button>
                                </td>
                                <td>
                                    <button mat-raised-button (click)="eliminarMaterial(material)" class="btn btn-danger">Eliminar</button>
                                </td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </mat-card-content>
    </div>
</div>