<div class="container">
    <div class="left">
        <br>
        <img src="assets/img/usuario.png" class="avatar" alt="Avatar Image">
        <mat-card-content>
            <mat-list>
                <mat-card-title>
                    <h5 align="center">Maria RodriguezDB</h5>
                    <h1 align="center">12 años</h1>
                </mat-card-title>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/conference.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="datos()" class="a">Datos Personales</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/lifecycle.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="imagen()" class="b">Evolucion</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/counselor.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="consulta()" class="c">Consultas</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/workflow.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="procedimiento()" class="d">Procedimientos</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/details-popup.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="seguimiento()" class="e">Seguimiento</button>
                        </div>
                    </form>
                </mat-list-item>
                <!-- <mat-list-item>
                   <form>
                        <div>
                            <button mat-stroked-button (click)="odontograma()" class="f">Odontograma</button>
                        </div>
                    </form>
                </mat-list-item> -->
                <mat-list-item>
                    <img clas="tres" src="https://img.icons8.com/dusk/50/000000/resume.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="informacion()" class="g">Historial Clinico</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/hint.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="recipe()" class="h">Recipe</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img src="https://img.icons8.com/cotton/50/000000/treatment-list.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="informe()" class="j">Informe</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img src="https://img.icons8.com/dusk/50/000000/budget.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="presupuesto()" class="i">Presupuesto</button>
                        </div>
                    </form>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </div>

    <div class="center">
        <mat-card-content>
            <mat-card-title>
                <form>
                    <mat-card>
                        <br>
                        <h4><img src="https://img.icons8.com/dusk/50/000000/dental-crown.png"> SEGUIMIENTO </h4>
                    </mat-card>
                </form>
            </mat-card-title>
            <br>
            <div class="alert alert-info" role="alert">
                EL SEGUIMIENTO DEPENDE DEL PROCEDIMIENTO ODONTOLOGICO ESCOGIDO
            </div>
            <br>
            <div class="row">
                <div class="col-6">
                    <form action="">
                        <div class="form-group row">
                            <mat-label for="" class="col-4 col-form-label">Area Afectada</mat-label>
                            <br>
                            <select class="form-control col-8">
                                <option>Todos los Dientes</option>
                                <option>Diente por Diente</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="col-6">
                    <form action="">
                        <fieldset disabled>
                            <div class="form-group row">
                                <label for="" class="col-4 col-form-label">Padecimiento</label>
                                <input placeholder="" class="form-control col-6">
                            </div>
                            <div class="form-group row">
                                <mat-label for="" class="col-4 col-form-label">Insumos</mat-label>
                                <br>
                                <select class="form-control col-6">
                                    <option>Seleccionar</option>
                                    <option>Parte Superior</option>
                                    <option>Parte Inferior</option>
                                    <option>Lado Derecho</option>
                                    <option>Lado Izquierdo</option>
                                    <option>Diente por Diente</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <mat-label for="" class="col-4 col-form-label">Materiales</mat-label>
                                <br>
                                <select class="form-control col-6">
                                    <option>Seleccionar</option>
                                    <option>Parte Superior</option>
                                    <option>Parte Inferior</option>
                                    <option>Lado Derecho</option>
                                    <option>Lado Izquierdo</option>
                                    <option>Diente por Diente</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-4 col-form-label">Consultas Posteriores</label>
                                <input placeholder="" class="form-control col-6">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-6">
                    <form action="">
                        <div class="form-group row">
                            <mat-label for="" class="col-4 col-form-label">Estatus</mat-label>
                            <br>
                            <select class="form-control col-8">
                                <option>Programada</option>
                                <option>Suspendida</option>
                                <option>Culminado</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <br>
            <img src="assets/img/odontograma.png" alt="Avatar Image">
            <br>
            <br>
            <br>
            <br>
            <div class="form-group row">
                <label for="" class="col-4 col-form-label">Fecha</label>
                <input name="fecha" matInput [matDatepicker]="picker" placeholder="Elije una fecha"
                    class="form-control col-2" [(ngModel)]="fecha">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </div>
            <div class="form-group row">
                <label for="" class="col-4 col-form-label">Tratamiento Efectuado</label>
                <textarea class="form-control" rows="3" class="form-control col-6"></textarea>
            </div>
            <div class="form-group row">
                <label for="" class="col-4 col-form-label">Observaciones</label>
                <textarea class="form-control" rows="3" class="form-control col-6"></textarea>
            </div>
            <button mat-raised-button (click)="historia()" class="uno">GUARDAR</button>
            <button mat-raised-button (click)="cancelar()" class="dos">CANCELAR</button>
        </mat-card-content>
    </div>
</div>