<div class="container">
    <div class="left">
        <br>
        <img src="assets/img/usuario.png" class="avatar" alt="Avatar Image">
        <mat-card-content>
            <mat-list>
                <mat-card-title>
                    <h5 align="center">{{patient.name}}</h5>
                    <h1 align="center">{{patient.age}} años</h1>
                </mat-card-title>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/conference.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="datos()" class="a">Datos Personales</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/lifecycle.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="imagen()" class="b">Evolucion</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/counselor.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="consulta()" class="c">Consultas</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/workflow.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="procedimiento()" class="d">Procedimientos</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/details-popup.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="seguimiento()" class="e">Seguimiento</button>
                        </div>
                    </form>
                </mat-list-item>
                <!-- <mat-list-item>
                   <form>
                        <div>
                            <button mat-stroked-button (click)="odontograma()" class="f">Odontograma</button>
                        </div>
                    </form>
                </mat-list-item> -->
                <mat-list-item>
                    <img clas="tres" src="https://img.icons8.com/dusk/50/000000/resume.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="informacion()" class="g">Historial Clinico</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img class="tres" src="https://img.icons8.com/dusk/50/000000/hint.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="recipe()" class="h">Recipe</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img src="https://img.icons8.com/cotton/50/000000/treatment-list.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="informe()" class="j">Informe</button>
                        </div>
                    </form>
                </mat-list-item>
                <mat-list-item>
                    <img src="https://img.icons8.com/dusk/50/000000/budget.png">
                    <form>
                        <div>
                            <button mat-stroked-button (click)="presupuesto()" class="i">Presupuesto</button>
                        </div>
                    </form>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </div>

    <div class="center">
        <mat-card-content>
            <mat-card-title>
                <form>
                    <mat-card>
                        <br>
                        <h4><img src="https://img.icons8.com/dusk/50/000000/dental-crown.png"> SEGUIMIENTO </h4>
                    </mat-card>
                </form>
            </mat-card-title>
            <br>
            <br>
            <div class="row">
                <div class="col-6">
                    <form action="">
                        <div class="form-group row">
                            <mat-label for="" class="col-4 col-form-label">Area Afectada</mat-label>
                            <br>
                            <select class="form-control col-5">
                                <option>Todos los Dientes</option>
                                <option>Diente por Diente</option>
                                <option>Ortodoncia</option>
                            </select>
                            <div class="col-1">
                                <button class="sinp" type="submit" class="btn btn-success">Ir </button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <br>
            <div class="row">
                <div class="col-6">
                    <form action="">
                        <div class="form-group row">
                            <mat-label for="" class="col-4 col-form-label">Estatus</mat-label>
                            <br>
                            <select class="form-control col-5">
                                <option>Evaluado</option>
                                <option>Iniciado</option>
                                <option>Terminado</option>
                            </select>
                            <div class="col-1">
                                <button class="sinp" type="submit" class="btn btn-success">Ir </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <br>
            <br>
            <section *ngFor="let odontogramaoficial of odontogramaoficial">
                <div class="row">
                    <div class="form-group row col-12 d-block">
                        <div>
                            <div class="mar">
                                <img class="mar" eight="60" width="60" [src]="convert(odontogramaoficial.Imagen1)">
                                <img class="mar" eight="60" width="60" [src]="convert(odontogramaoficial.Imagen2)">
                                <img class="mar" eight="70" width="70" [src]="convert(odontogramaoficial.Imagen3)">
                                <img class="mar" eight="30" width="30" [src]="convert(odontogramaoficial.Imagen4)">
                                <img class="mar" eight="30" width="30" [src]="convert(odontogramaoficial.Imagen5)">
                                <img class="mar" eight="30" width="30" [src]="convert(odontogramaoficial.Imagen6)">
                                <img class="mar" eight="30" width="30" [src]="convert(odontogramaoficial.Imagen7)">
                                <img class="mar" eight="30" width="30" [src]="convert(odontogramaoficial.Imagen8)">
                                <img class="mar" eight="30" width="30" [src]="convert(odontogramaoficial.Imagen9)">
                                <img class="mar" height="30" width="30" [src]="convert(odontogramaoficial.Imagen10)">
                                <img class="mar" height="30" width="30" [src]="convert(odontogramaoficial.Imagen11)">
                                <img class="mar" height="30" width="30" [src]="convert(odontogramaoficial.Imagen12)">
                                <img class="mar" height="30" width="30" [src]="convert(odontogramaoficial.Imagen13)">
                                <img class="mar" height="70" width="70" [src]="convert(odontogramaoficial.Imagen14)">
                                <img class="mar" height="60" width="60" [src]="convert(odontogramaoficial.Imagen15)">
                                <img class="mar" height="50" width="50" [src]="convert(odontogramaoficial.Imagen16)">
                            </div>
                            <div>
                                <img class="mar" height="50" width="50" [src]="convert(odontogramaoficial.Imagen17)">
                                <img class="mar" height="60" width="60" [src]="convert(odontogramaoficial.Imagen18)">
                                <img class="mar" height="70" width="70" [src]="convert(odontogramaoficial.Imagen19)">
                                <img class="mar" height="30" width="30" [src]="convert(odontogramaoficial.Imagen20)">
                                <img class="mar" height="30" width="30" [src]="convert(odontogramaoficial.Imagen21)">
                                <img class="mar" height="30" width="30" [src]="convert(odontogramaoficial.Imagen22)">
                                <img class="mar" height="30" width="30" [src]="convert(odontogramaoficial.Imagen23)">
                                <img class="mar" height="30" width="30" [src]="convert(odontogramaoficial.Imagen24)">
                                <img class="mar" height="30" width="30" [src]="convert(odontogramaoficial.Imagen25)">
                                <img class="mar" height="30" width="30" [src]="convert(odontogramaoficial.Imagen26)">
                                <img class="mar" height="30" width="30" [src]="convert(odontogramaoficial.Imagen27)">
                                <img class="mar" height="30" width="30" [src]="convert(odontogramaoficial.Imagen28)">
                                <img class="mar" height="30" width="30" [src]="convert(odontogramaoficial.Imagen29)">
                                <img class="mar" height="70" width="70" [src]="convert(odontogramaoficial.Imagen30)">
                                <img class="mar" height="60" width="60" [src]="convert(odontogramaoficial.Imagen31)">
                                <img class="mar" height="60" width="50" [src]="convert(odontogramaoficial.Imagen32)">
                            </div>
                        </div>

                    </div>
                </div>
                <div>
                    <button (click)="IraDetalles(odontogramaoficial)" align="rigth" class="btn btn-success">Ver Detalles</button>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </section>
            <br>
        </mat-card-content>
    </div>
</div>
