<div class="container">


    <div class="left">
        <br>
        <mat-card>
            <mat-card-title>
                <label class="letra1" align="center">JUEVES</label>
                <br>
                <br>
                <label class="letra2" align="center">
                    <23>
                        <br>
                        <br>
                </label>
                <br>
                <label class="letra1" align="center">ENERO 2020</label>
                <br>
                <br>
            </mat-card-title>
            <label class="letra">ESTADO DE LA CITA</label>
            <br>
            <br>
            <br>
            <br>
            <label class="letra">AGENDADO</label>
            <br>
            <br>
            <br>
            <br>
            <label class="letra">FINALIZADO</label>
            <br>
            <br>
            <br>
        </mat-card>
    </div>

    <div class="center">
        <mat-card-content>
            <mat-card-title>
                <form>
                    <mat-card>
                        <br>
                        <h2> 23 ENERO 2020 </h2>
                        <br>

                        <div class="row">
                            <div class="col-6">
                                <br>
                                <form action="">
                                    <div class="form-group row">

                                    </div>
                                </form>
                            </div>
                            <div class="col-4">
                                <br>
                                <form action="">
                                    <div class="form-group row">
                                        <button mat-raised-button (click)="global()" class="dos">Global</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-2">
                                <br>
                                <form action="">
                                    <div class="form-group row">
                                        <button mat-raised-button (click)="diaria()" class="cuarto">Semanal</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </mat-card>
                </form>
            </mat-card-title>

            <table class="table table-hover table-fixed">

                <!--Table head-->

                <thead>
                    <tr>
                        <th>HORA</th>
                        <th>PACIENTE</th>
                        <th>ESTADO DE LA CITA</th>

                    </tr>
                </thead>

                <!--Table head-->

                <!--Table body-->
                <tbody>
                    <tr>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                </tbody>
                <!--Table body-->
            </table>

            <!--Table-->

        </mat-card-content>
    </div>
</div>