<div class="container">

    <div class="center">
        <mat-card-content>
            <mat-card-title>
                <form>
                    <mat-card>
                        <br>
                        <h2> 23 ENERO 2020 </h2>
                        <br>

                        <div class="row">
                            <div class="col-6">
                                <br>
                                <form action="">
                                    <div class="form-group row">

                                    </div>
                                </form>
                            </div>
                            <div class="col-4">
                                <br>
                                <form action="">
                                    <div class="form-group row">
                                        <button mat-raised-button (click)="global" class="dos">Global</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-2">
                                <br>
                                <form action="">
                                    <div class="form-group row">
                                        <button mat-raised-button (click)="diario" class="cuarto">Semanal</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </mat-card>
                </form>
            </mat-card-title>

            <table class="table table-hover table-fixed">

                <!--Table head-->

                <thead>
                    <tr>
                        <th>HORA</th>
                        <th>LUNES</th>
                        <th>MARTES</th>
                        <th>MIERCOLES</th>
                        <th>JUEVES</th>
                        <th>VIERNES</th>
                        <th>SABADO</th>

                    </tr>
                </thead>

                <!--Table head-->

                <!--Table body-->
                <tbody>
                    <tr>
                        <th scope="row">8:00 am 9:00 am</th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                        <th scope="row"></th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                    </tr>

                    <tr>
                        <th scope="row">9:00 am 10:00 am</th>
                        <th scope="row"></th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                        <th scope="row"></th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row">10:00 am 11:00 am</th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row">11:00 am 12:00 m</th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row">12:00 m 1:00 pm</th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row">1:00 pm 2:00 pm</th>
                        <th scope="row"></th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                        <th scope="row"></th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row">2:00 pm 3:00 pm</th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row">3:00 pm 4:00 pm</th>
                        <th scope="row"></th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                    </tr>

                    <tr>
                        <th scope="row">4:00 pm 5:00 pm</th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                        <th scope="row"></th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                    <tr>
                        <th scope="row">5:00 pm 6:00 pm</th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row">
                            <form>
                                <div class="col-6">
                                    <button mat-mini-fab type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter">+</button>
                                </div>
                            </form>
                        </th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                        <th scope="row"></th>
                    </tr>

                </tbody>
                <!--Table body-->
            </table>

            <!--Table-->

        </mat-card-content>
    </div>
</div>