<form align="left">
    <div>
        <span class="claDoc ">{{usuarioA}} </span>

    </div>
    <br>
    <span class="claDocEs ">{{especialidad}} </span>
</form>
<br>
<br>
<div class="row">
    <form #gelist="ngForm" (ngSubmit)="getConsultas(gelist)">
        <div class="row ">
            <div class="col-6">
                <br>
                <div class="form-group row">
                    <br>
                    <br>
                    <label for="" class="col-6">Buscar por:</label>
                    <select class="form-control col-10" #momento="ngModel" name="momento" id="momento" [(ngModel)]="momentoC">
                    <option>Hoy</option>
                    <option>Mes</option>
                    <option>Todas</option>
                </select>
                    <div>
                        <button class="sinp" type="submit" class="btn btn-success">Buscar </button>
                    </div>
                </div>

            </div>
        </div>
    </form>

    <div class="col-6">
        <form align="right">
            <button mat-raised-button (click)="global()" class="uno"><img
                    src="https://img.icons8.com/dusk/50/000000/calendar-plus.png"> Agregar Consultas</button>
        </form>
    </div>
</div>

<div class="row mt-5">
    <div class="col">
        <mat-form-field class=" col-2 border-bottom text-dark">
            <div class="row caja2">

            </div>

        </mat-form-field>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre Paciente </th>
                    <th scope="col">Cedula</th>
                    <th scope="col">Fecha de Consulta</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Motivo</th>
                    <th scope="col">Consultorio a Visitar</th>
                    <th scope="col">Status</th>
                    <th scope="col">Suspender</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let consulta of consulta">
                    <td></td>
                    <td>{{consulta.namePatient}}</td>
                    <td>{{consulta.dniPatient}}</td>
                    <td>{{consulta.fechaPlanificada}}</td>
                    <td>{{consulta.hora}}</td>
                    <td>{{consulta.motive}}</td>
                    <td>{{consulta.consultorioVisitar}}</td>
                    <td><button type="button" class="btn btn-success" (click)="cambiarstatus(consulta)">
                        <span>{{consulta.status}}</span>
                    </button></td>
                    <td><button type="button" class="btn btn-danger" (click)="suspenderstatus(consulta)">
                      <span>X</span>
                  </button></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
