.container{
    text-align:center;
  }
  
  .left{
    float: left;
    background-color: lightgray;
  }
  
  .center{
    display:inline-block;
    width: 79%;
    border-style:solid;
    border-width:2px;  
    border-color: #d3d3d3;
  }
  
  .container .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: center;
    left: calc(80% - 50px);
    }
  
  
  .h {
    text-decoration: none;
    font-size: 15px;
    line-height: none;
    color: #fff;
    width: 298%;
    left: calc(17% - 40%);
  }
  

 .letra{
  text-decoration: none;
  font-size: 20px;
  line-height: none;
  color: #fff;
 }

 
 .letra1{
  text-decoration: none;
  font-size: 35px;
  line-height: none;
  color: #000;
 }

 
 .letra2{
  text-decoration: none;
  font-size: 40px;
  line-height: none;
  color: crimson;
 }

  .h:hover {
    color: darkgrey;
  }
  
  .mat-form-field {
    margin: 0;
    padding: 0;    
    font-weight: bold;
    display: block;
   
  }
  
  
  .selector {
    margin-left: 16px;
    text-align: left;
  
  }
  
  
  .mat-card {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #000;
    background: rgba(207, 205, 205, 0.199);
    width: 100%;
    height: 100%;
  }

  .mat-mini-fab {
    margin: 0 0px;
    color: snow;
    background-color: silver;
    font-size: 40px;
  }
 
  .dos {
    margin: 0 12px;
    color: snow;
    background-color: goldenrod;
  }


  .cuarto {
    margin: 0 12px;
    color: snow;
    background-color: blue;
  }

  .prueba {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #000;
    background: rgba(207, 205, 205, 0.199);
    width: 100%;
    height: 100%;
  }