<div class="au-xs-ta-center au-lg-ta-center">
    <ul class="rk-menu rk-categories-menu">
        <img src="https://img.icons8.com/dusk/50/000000/dental-filling.png">
        <li class="active rk-menu__item"><a routerLink="/especialidad" class="rk-menu__link">Insumos Odontologicos</a>
        </li>
        <img src="https://img.icons8.com/dusk/50/000000/product.png">
        <li class="rk-menu__item"><a routerLink="/materiales" class="rk-menu__link">Materiales Odontologicos</a>
        </li>
        <img src="https://img.icons8.com/dusk/50/000000/search-property.png">
        <li class="rk-menu__item"><a routerLink="/reportes" class="rk-menu__link">Reportes</a>
        </li>
    </ul>
</div>

<div class="container">

    <div class="center">
        <mat-card-content>
            <mat-card-title>
                <form>
                    <mat-card>
                        <br>
                        <div class="row">
                            <div class="col-2">
                                <br>
                                <form action="">
                                    <div class="form-group row">
                                        <div class="container">
                                            <div class="padre">
                                                <img src="https://img.icons8.com/dusk/50/000000/overview-pages-1.png">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-10">

                                <form action="">
                                    <br>
                                    <div class="form-group row">

                                        <h4 for="" class="col-10 col-form-label">REPORTES</h4>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </mat-card>
                </form>
            </mat-card-title>

            <label for="" class="lolo">Rango de Fechas</label>
            <form #getDateRange="ngForm" (ngSubmit)="onSearch(getDateRange)">
                <div class="row">



                    <div class="col-4">
                        <br>

                        <div class="form-group row">
                            <label for="" class="col-2 col-form-label"></label>
                            <input name="starDate" matInput [matDatepicker]="picker" placeholder="Elije una fecha" class="form-control col-6" [(ngModel)]="startDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </div>

                    </div>
                    <div class="col-4">
                        <br>

                        <div class="form-group row">
                            <label for="" class="col-2 col-form-label"></label>
                            <input name="endDate" matInput [matDatepicker]="picker1" placeholder="Elije una fecha" class="form-control col-6" [(ngModel)]="endDate">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </div>

                    </div>
                    <div class="col-4">
                        <br>

                        <div class="form-group row">
                            <label for="" class="col-4 col-form-label">Inventario</label>
                            <select class="form-control col-6" [(ngModel)]="tabla" name="tabla">
                            <option>Materiales</option>
                            <option>Insumos</option>
                        </select>
                        </div>

                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-info">Generar</button>
            </form>
            <br>
            <br>
            <br>
            <br>
            <div *ngIf="materialestrue">
                <div id="pdfTable" #pdfTable>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Nombre </th>
                                <th scope="col">Especialidad</th>
                                <th scope="col">Costo</th>
                                <th scope="col">Catidad</th>
                                <th scope="col">Usados</th>
                                <th scope="col">Ingresado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let material of material">
                                <td>{{material.name}}</td>
                                <td>{{material.especiality}}</td>
                                <td>{{material.costo}}</td>
                                <td>{{material.cantidad}}</td>
                                <td>{{material.usados}}</td>
                                <td>{{material.fechadeInsert |date:"short" }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <br>
                <br>
                <br>
                <div class="row center2">
                    <button (click)="imprimirPdfMateriales()" class="btn btn-info">Imprimir</button>
                </div>
            </div>

            <div *ngIf="insumostrue">
                <div id="pdfTableInsumos">
                    <table class="table table-hover">
                        <thead bgcolor="">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre </th>
                                <th scope="col">Especialidad</th>
                                <th scope="col">Catidad</th>
                                <th scope="col">Ingresado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let insumo of insumo">
                                <td>{{insumo.id}}</td>
                                <td>{{insumo.name}}</td>
                                <td>{{insumo.especiality}}</td>
                                <td>{{insumo.cantidad}}</td>
                                <td>{{insumo.fechadeInsert |date:"short" }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>


                <div class="row center2">
                    <button (click)="imprimirPdfInsumos()" class="btn btn-info">Imprimir</button>
                </div>
            </div>



        </mat-card-content>
    </div>
</div>