<div class="au-xs-ta-center au-lg-ta-center">
    <ul class="rk-menu rk-categories-menu">
        <li class="active rk-menu__item"><a routerLink="/especialidad" class="rk-menu__link">Especialidades</a>
        </li>
        <li class="rk-menu__item"><a routerLink="/materiales" class="rk-menu__link">Materiales Odontologicos</a>
        </li>
        <li class="rk-menu__item"><a routerLink="/reportes" class="rk-menu__link">Reportes</a>
        </li>
    </ul>
</div>

<div class="container">

    <div class="center">
        <mat-card-content>
            <mat-card-title>
                <form>
                    <mat-card>
                        <br>
                        <div class="row">
                            <div class="col-2">
                                <br>
                                <form action="">
                                    <div class="form-group row">
                                        <div class="container">
                                            <div class="padre">
                                                <img src="assets/inicio/inicio-7.png" class="avatar" alt="Avatar Image">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-10">
                                <br>
                                <form action="">
                                    <br>
                                    <div class="form-group row">
                                        <br>
                                        <h4 for="" class="col-10 col-form-label">REPORTES</h4>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </mat-card>
                </form>
            </mat-card-title>

            <label for="" class="lolo">Rango de Fechas</label>
            <div class="row">
                <div class="col-6">
                    <br>
                    <form action="">
                        <div class="form-group row">
                            <label for="" class="col-2 col-form-label"></label>
                            <input matInput [matDatepicker]="picker" placeholder="Choose a date"
                                class="form-control col-6">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </div>
                    </form>
                </div>
                <div class="col-6">
                    <br>
                    <form action="">
                        <div class="form-group row">
                            <label for="" class="col-2 col-form-label"></label>
                            <input matInput [matDatepicker]="picker1" placeholder="Choose a date"
                                class="form-control col-6">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </div>
                    </form>
                </div>
            </div>
            <button mat-raised-button class="uno">GENERAR</button>
            <br>
            <br>
            <br>
            <br>

        </mat-card-content>
    </div>
</div>
