<form align="left">
    <div>
        <span class="claDoc ">{{usuarioA}} </span>

    </div>
    <br>
    <span class="claDocEs ">{{especialidad}} </span>
</form>
<div class="au-xs-ta-center au-lg-ta-center">
    <ul class="rk-menu rk-categories-menu">
        <img src="https://img.icons8.com/ultraviolet/50/000000/tooth.png">
        <li class="active rk-menu__item"><a routerLink="/mantenimiento" class="rk-menu__link">Piezas Dentales</a>
        </li>
        <img src="https://img.icons8.com/dusk/50/000000/tooth-cracked.png">
        <li class="rk-menu__item"><a routerLink="/padecimiento" class="rk-menu__link">Padecimientos</a>
        </li>
        <img src="https://img.icons8.com/ultraviolet/50/000000/process.png">
        <li class="rk-menu__item"><a routerLink="/procedimiento" class="rk-menu__link">Procedimientos</a>
        </li>
    </ul>
</div>

<div class="container">

    <div class="center">
        <mat-card-content>
            <mat-card-title>
                <form>
                    <mat-card>
                        <br>
                        <div class="row">
                            <div class="col-2">
                                <br>
                                <form action="">
                                    <div class="form-group row">
                                        <div class="container">
                                            <div class="padre">
                                                <img src="https://img.icons8.com/ios/50/000000/set-of-teeth.png">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-10">
                                <br>
                                <form action="">
                                    <div class="form-group row">
                                        <h4 for="" class="col-10 col-form-label">Padecimientos</h4>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </mat-card>
                </form>
            </mat-card-title>
            <br>
            <div class="row">
                <div class="col-6">
                    <form action="">
                        <form align="left">
                            <div>
                                <button mat-raised-button (click)="agrgegarpadecimientoAdiente()" class="uno"><img
                                        src="https://img.icons8.com/dusk/50/000000/tooth-caries.png">Agregar
                                    Padecimiento a
                                    Pieza Dental</button>
                            </div>
                        </form>
                    </form>
                </div>
                <div class="col-6">
                    <form align="right">
                        <div>
                            <button mat-raised-button (click)="agregarpadecimiento()" class="uno"><img
                                    src="https://img.icons8.com/dusk/50/000000/tooth-cracked.png"> Agregar Nuevo
                                Padecimiento</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col">
                    <label for="" class="lolo">Lista de Padecimientos Odontologicos</label>
                    <!-- <button type="button" class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalBook" (click)="resetForm()">New Book</button>-->
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre </th>
                                <th scope="col">Descripcion</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let padecimiento of padecimiento">
                                <td>{{padecimiento.id}}</td>
                                <td>{{padecimiento.NombrePadecimiento}}</td>
                                <td>{{padecimiento.Descripcion}}</td>

                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
            <div class="row mt-5">
                <div class="col">
                    <label for="" class="lolo">Lista de Padecimientos Odontologicos en las Piezas Dentales</label>
                    <!-- <button type="button" class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalBook" (click)="resetForm()">New Book</button>-->
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre Padecimiento</th>
                                <th scope="col">Pieza Dental</th>
                                <th scope="col">Imagen</th>
                                <th scope="col">Nomeclatura</th>
                                <th scope="col">Ubicacion</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let padecimientoxdiente of padecimientoxdiente">
                                <td>{{padecimientoxdiente.id}}</td>
                                <td>{{padecimientoxdiente.NombrePadecimiento}}</td>
                                <td>{{padecimientoxdiente.NombrePieza}}</td>
                                <td> <img width="20" height="20" [src]="convert(padecimientoxdiente.Imagen)" alt="img">
                                </td>
                                <td>{{padecimientoxdiente.Nomenclatura}}</td>
                                <td>{{padecimientoxdiente.Posicion}}</td>
                            </tr>

                        </tbody>
                        <br>
                        <br>
                        <br>

                    </table>

                </div>
            </div>

        </mat-card-content>
    </div>
</div>
